 @{
    ViewData["Title"] = "Personnel Search";
    Layout = "~/Views/Shared/_Sidebar.cshtml";
}     
        <!-- Card Body -->
<div class="card-body">
                <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">TAD Personnel Search</h6>

                        </div>
                        <div class="card-body">
                            <div class="py-2">
                                <div class="row mx-auto">
                                    <div class="col-xl-12 col-md-12 mb-4">
                                        <div class="row no-gutters align-items-top">
                                            <div class="col-xl-3 col-md-6 mb-4 mr-2 offset-md-0">
                                            </div>
                                            <div class="col-xl-3 col-md-6 mb-4 mr-2 offset-md-0">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Name</div>
                                                <input type="text" name="searchName" id="searchName" placeholder="Search by Name" class="form-control" minlength="3">
                                            </div>
                                            <div class="col-xl-3 col-md-6 mb-4 mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Employee ID</div>
                                                <input type="text" name="searchID" id="searchID" placeholder="Search by ID/Nopek" class="form-control">
                                                <div class="mt-2 float-right">
                                                    <a href="#" id="searchBtn" class="btn btn-primary btn-sm">Search</a>
                                                    <a href="#" onclick="clearField()" class="btn btn-primary btn-sm">Clear</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p id="result"></p>    
                            <div class="table-responsive px-2">
                                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Employee ID</th>
                                                <th>Name</th>
                                                <th>Status</th>
                                                <th>Jenis Kelamin</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody id="pers-table">                  
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#searchBtn").click(function() {
            var table = $('#dataTable').DataTable(); // Assuming your DataTable has the ID "dataTable"

                // Clear all data from the DataTable
                table.destroy();
            var data = {
                searchName : $('#searchName').val(),
                searchID : $('#searchID').val()
            }
            
            $.ajax({
                url: '/TKJP/SearchData',
                type: 'GET',
                data: data,
                dataType: 'json',
                success: function(data) {
                    var no = 1
                    var table = $('#dataTable').DataTable({
                        ordering : true,
                        autoWidth : false,
                        select: {
                              style: 'single' // Enable multi-row selection (can also use 'single')
                        },
                        data: data,
                        columns: [
                            { data : 'Nopek'},
                            { data: 'Nopek' },
                            { data: 'Nama' },
                            { data: 'status'},
                            { data: 'Jenis_Kelamin'},
                            {
                                title: 'Actions',
                                render: function(data, type, row) {
                                    return '<button class="btn btn-primary btn-sm select-button m-1" data-id="' + row.Nopek + '">Select</button>'
                                }
                            }
                        ]
                    });
                    // Handle row selection event
                        table.on('select', function(e, dt, type, indexes) {
                            var rowData = table.rows(indexes).data().toArray();
                            console.log(rowData)
                        });

                        // Handle row deselection event
                        table.on('deselect', function(e, dt, type, indexes) {
                            // Handle deselection if needed
                        });

                    table.on('order.dt search.dt', function() {
                            table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function(cell, i) {
                                cell.innerHTML = i + 1;
                            });
                        }).draw();

                    $('#dataTable').on('click', '.select-button', function() {
                        $.ajax({
                        url: '/TKJP/selectData',
                        type: 'GET',
                        data: data,
                        dataType: 'json',
                        success: function(data) {   
                            var id = $(this).data('id');
                                for (var key in data) {
                                    if (data[key].nopek == id) {
                                    console.log(data[key])    
                                    break;
                                }
                            }
                            // Perform edit action with the corresponding ID
                            Swal.fire({
                              title: 'Personnel Card',
                              html: '<div class="table-responsive px-2">'+
                              '<div class="row text-sm-left">'+
                                  '<div class="col-lg-12 mb-4"> '+
                                      '<div class="card bg-white text-black-50 shadow">'+
                                        '<h5 style="margin: 10px;">Personal Information</h5>'+ //Personal Information
                                          '<hr class="sidebar-head my-0 bg-white"></hr>'+
                                          '<div class="row justify-content-md-right text-sm-left" style="margin: 10px;">'+
                                             '<div class="col-sm-2 text-weight-800">ID</div><div class="col-sm-4">' + data.Nopek + '</div>'+
                                              '<div class="col-sm-2">Birth Day</div><div class="col-sm-4">' + data.tgl_Lahir + '</div>'+
                                              '<br>'+
                                              '<div class="col-sm-2">First Name</div><div class="col-sm-4">' + data.nama + '</div>'+
                                              '<div class="col-sm-2">Birth Country</div><div class="col-sm-4">Indonesia</div>'+
                                              '<br>'+
                                              '<div class="col-sm-2">Marital Status</div><div class="col-sm-4">' + data.status_Pernikahan + '</div>'+
                                              '<br>'+
                                              '<div class="col-sm-2">No. of Dependents</div><div class="col-sm-4">' + data.jumlah_Tanggungan + '</div>'+
                                              '<br>'+
                                              '<div class="col-sm-2">Gender</div><div class="col-sm-4">' + data.jenis_Kelamin + '</div>'+
                                              '<div class="col-sm-2">Religion</div><div class="col-sm-4">' + data.agama +'</div>'+
                                              '<br>'+
                                              '<div class="col-sm-2">Birth Place</div><div class="col-sm-4">' + data.tempat_lahir + '</div>'+
                                              '<div class="col-sm-2">Blood Group</div><div class="col-sm-4"></div>'+
                                              '<br>'+
                                          '</div>'+
                                      '</div>'+
                                  '</div>'+
                                  '<!-- Education -->'+
                                '<div class="col-lg-6 mb-4">'+
                                    '<div class="card bg-white text-black-50 shadow">'+
                                        '<h5 style="margin: 10px;">Education</h5>'+ 
                                        '<hr class="sidebar-head my-0 bg-white"></hr>'+
                                        '<div class="row justify-content-md-right text-sm-left" style="margin: 10px;">'+
                                            '<div class="col-md-4">Degree</div><div class="col-sm-8">' + data.tingkat_Pendidikan + '</div>'+
                                            '<br>'+
                                            '<div class="col-sm-4">Last Majoring</div><div class="col-sm-8">' + data.jurusan_Pendidikan_Terakhir + '</div>'+
                                            '<br>'+
                                            '<div class="col-sm-4">Last Institution</div><div class="col-sm-8">' + data.last_Education_Institution + '</div>'+
                                            '<br>'+
                                            '<br>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<!-- Experience -->'+
                                '<div class="col-lg-6 mb-4">'+
                                    '<div class="card bg-white text-black-50 shadow">'+
                                        '<h5 style="margin: 10px;">Experience</h5>'+ 
                                        '<hr class="sidebar-head my-0 bg-white"></hr>'+
                                        '<div class="row justify-content-md-right text-sm-left" style="margin: 10px;">'+
                                            '<div class="col-md-6">First Work Experience</div><div class="col-sm-6">' + data.pengalaman_Kerja_Pertama + '</div>'+
                                            '<br>'+
                                            '<div class="col-sm-6">First Joined Pertamina</div><div class="col-sm-6">' + data.bergabung_Pertama_kali_di_Pertamina + '</div>'+
                                            '<br>'+
                                            '<div class="col-sm-6">Company Name Before SHU</div><div class="col-sm-6">' + data.nama_Perusahaan_Sebelum_SHU + '</div>'+
                                            '<br>'+
                                            '<br>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                               '<!-- Contacts -->'+
                                '<div class="col-lg-6 mb-4">'+
                                    '<div class="card bg-white text-black-50 shadow">'+
                                        '<h5 style="margin: 10px;">Contacts</h5>'+ 
                                        '<hr class="sidebar-head my-0 bg-white"></hr>'+
                                        '<div class="row justify-content-md-right text-sm-left" style="margin: 10px;">'+
                                            '<div class="col-md-4">Email</div><div class="col-sm-8">' + data.email_pertamina + '</div>'+
                                            '<br>'+
                                            '<div class="col-sm-4">Phone</div><div class="col-sm-8">' + data.phone + '</div>'+
                                            '<br>'+
                                            '<br>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<!-- Contacts -->'+
                                '<div class="col-lg-6 mb-4">'+
                                    '<div class="card bg-white text-black-50 shadow">'+
                                        '<h5 style="margin: 10px;"> Emergency Contacts</h5>'+ 
                                        '<hr class="sidebar-head my-0 bg-white"></hr>'+
                                        '<div class="row justify-content-md-right text-sm-left" style="margin: 10px;">'+
                                            '<div class="col-md-4">Name</div><div class="col-sm-8">' + data.nama_Kontak_Emergency + '</div>'+
                                            '<br>'+
                                            '<div class="col-sm-4">Phone</div><div class="col-sm-8">' + data.nomor_Kontak_Emergency + '</div>'+
                                            '<br>'+
                                            '<br>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                
                                '<!-- Assignment Order -->'+
                                '<div class="col-lg-6 mb-4">'+
                                    '<div class="card bg-white text-black-50 shadow">'+
                                        '<h5 style="margin: 10px;">Assignment Order</h5>'+ 
                                        '<hr class="sidebar-head my-0 bg-white"></hr>'+
                                        '<div class="row justify-content-md-right text-sm-left" style="margin: 10px;">'+
                                            `<div class="col-md-6">Contract ./Period</div><div class="col-sm-6">${data[key].contractor_id}</div>`+
                                            '<br>'+
                                            `<div class="col-sm-6">Contractor</div><div class="col-sm-6">${data[key].Name}</div>`+
                                            '<br>'+
                                            `<div class="col-sm-6">Assignment Order No</div><div class="col-sm-6">${data[key].AO_No}</div>`+
                                            '<br>'+
                                            `<div class="col-sm-6">MRF No</div><div class="col-sm-6">${data[key].mrf_code}</div>`+
                                            '<br>'+
                                            '<br>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-6 mb-4">'+
                                    '<div class="card bg-white text-black-50 shadow">'+
                                        '<h5 style="margin: 10px;">Experience</h5>'+ 
                                        '<hr class="sidebar-head my-0 bg-white"></hr>'+
                                        '<div class="row justify-content-md-right text-sm-left" style="margin: 10px;">'+
                                            `<div class="col-md-6">Title</div><div class="col-sm-6">${data[key].PosTitle}</div>`+
                                            '<br>'+
                                            `<div class="col-sm-6">Schedule of Service</div><div class="col-sm-6">${data[key].Work_Schedule}</div>`+
                                            '<br>'+
                                            `<div class="col-sm-6">Point of Hire</div><div class="col-sm-6">${data[key].point_of_hire}</div>`+
                                            '<br>'+
                                            `<div class="col-sm-6">Period</div><div class="col-sm-6">${data[key].contract_start} -> ${data[key].contract_end}</div>`+
                                            '<br>'+
                                            '<br>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-6 mb-4">'+
                                    '<div class="card bg-white text-black-50 shadow">'+
                                        '<h5 style="margin: 10px;">Experience</h5>'+ 
                                        '<hr class="sidebar-head my-0 bg-white"></hr>'+
                                        '<div class="row justify-content-md-right text-sm-left" style="margin: 10px;">'+
                                            `<div class="col-md-6">Company's Operation Area</div><div class="col-sm-6">data.persSubArea_ID</div>`+
                                            '<br>'+
                                            `<div class="col-sm-6">Company's Supervisor</div><div class="col-sm-6">data.company_ID</div>`+
                                            '<br>'+
                                            `<div class="col-sm-6">Cost Center</div><div class="col-sm-6">data.costCenter</div>`+
                                            '<br>'+
                                            `<div class="col-sm-6">Personnel Clasified/Category</div><div class="col-sm-6">data.personnel_category</div>`+
                                            '<br>'+
                                            '<br>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-6 mb-4">'+
                                    '<div class="card bg-white text-black-50 shadow">'+
                                        '<h5 style="margin: 10px;">Information</h5>'+ 
                                        '<hr class="sidebar-head my-0 bg-white"></hr>'+
                                        '<div class="row justify-content-md-right text-sm-left" style="margin: 10px;">'+
                                            `<div class="col-md-6">Billing Rate</div><div class="col-sm-6">data.personnel_billing</div>`+
                                            '<br>'+
                                            `<div class="col-sm-6"></div><div class="col-sm-6"></div>`+
                                            '<br>'+
                                            `<div class="col-sm-6">Service Fee</div><div class="col-sm-6">data.service_fee</div>`+
                                            '<br>'+
                                            `<div class="col-sm-6"></div><div class="col-sm-6"></div>`+
                                            '<br>'+
                                            '<br>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                               
                                '</div>'+
                            '</div>',
                              width : 1200,
                              showCloseButton: true,
                            })
                        }
                    });
                });

                },
                @* error: function(xhr, status, error) {
                    console.log(error);
                }  *@
            }); 
        });
    });

    function clearField(){
        $('#searchName').val('');
        $('#searchID').val('');
    }
</script>
<script type="text/javascript">
    
</script>