@model hcdigital.Models.Contractor

 @{
    ViewData["Title"] = "Add Contractor";
    Layout = "~/Views/Shared/_Sidebar.cshtml";
}

<div class="col-lg-12">

    <!-- Dropdown Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary text-uppercase">Add Contractor</h6>
        </div>
        
        <div class="card-body">
        <form asp-action="Create">
          <table class="table table-sm table-add table-borderless">
            <tr>
                <td class="w-25">Nomor Kontrak</td>
                
                <td><input class="form-control form-control-bot-border" required type="number" name="contractNo" placeholder="Masukan nomor kontrak"></td>
            </tr>
           
            <tr>
                <td>Nama</td>
                
                <td><input class="form-control form-control-bot-border" required type="text" name="Name" placeholder="Masukkan Nama"></td>
            </tr>

            <tr>
                <td>Title</td>
                
                <td><input class="form-control form-control-bot-border" required type="text" name="Title" placeholder="Masukkan Judul"></td>
            </tr>

            <tr>
                <td>Zona</td>
                
                <td><input class="form-control form-control-bot-border" required type="text" name="Zona" placeholder="Masukkan Zona"></td>
            </tr>

            <tr>
                <td>Company</td>
                
                <td><input class="form-control form-control-bot-border" required type="text" name="Company" placeholder="Masukkan Nama Perusahaan"></td>
            </tr>

            <tr>
                <td>Work Location</td>
                
                <td><input class="form-control form-control-bot-border" required type="text" name="WorkLoc" placeholder="Masukkan Lokasi Bekerja"></td>
            </tr>

            <tr>
                <td>Headcount</td>
                
                <td><input class="form-control form-control-bot-border" required type="text" name="Headcount" placeholder="Masukkan Nomor Headcount"></td>
            </tr>
            <tr>
                <td>Start Tender</td>
                
                <td><input class="form-control form-control-bot-border" required type="date" name="start_tender" placeholder="Masukkan Lokasi Bekerja"></td>
            </tr>

            <tr>
                <td>End Tender</td>
                
                <td><input class="form-control form-control-bot-border" type="date" name="end_tender" placeholder="Masukkan Nomor Headcount"></td>
            </tr>
            <tr>
                <td>Start Date</td>
                
                <td><input class="form-control form-control-bot-border"  type="date" name="start_date" placeholder="Masukkan Lokasi Bekerja"></td>
            </tr>

            <tr>
                <td>End Date</td>
                
                <td><input class="form-control form-control-bot-border" type="date" name="end_date" placeholder="Masukkan Nomor Headcount"></td>
            </tr>
            <tr>
                <td>Jumlah Amandemen</td>
                
                <td><input class="form-control form-control-bot-border" type="number" name="jml_amandemen" placeholder="Masukkan Jumlah Amandemen"></td>
            </tr>
            <tr>
                <td>Start Amandemen</td>
                
                <td><input class="form-control form-control-bot-border"  type="date" name="start_date_amd" placeholder="Masukkan Lokasi Bekerja"></td>
            </tr>

            <tr>
                <td>End Amandemen</td>
                
                <td><input class="form-control form-control-bot-border"  type="date" name="end_date_amd" placeholder="Masukkan Nomor Headcount"></td>
            </tr>
            <tr>
                <td>Nilai Kontrak</td>
                
                <td><input class="form-control form-control-bot-border" type="text" name="nilai_kontrak" placeholder="Masukkan Nilai Kontrak"></td>
            </tr>
            <tr>
                <td>Service Fee</td>
                
                <td><input class="form-control form-control-bot-border" type="number" name="service_fee" placeholder="Masukkan Biaya Layanan"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn btn-success" type="submit" name="simpan" value="submit"></td>
            </tr>
             </table>
        </form>
    </div>
    </div>
</div>