 @model hcdigital.Models.MRF

 @{
    ViewData["Title"] = "Candidate";
    Layout = "~/Views/Shared/_Sidebar.cshtml";
}
        
        <!-- Card Header - Dropdown -->
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        </div>
        <!-- Card Body -->
        <div class="card-body">
        		<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Table Candidate - @Model.mrf_code</h6>

                        </div>
                        <div class="card-body">
                            <div class="py-2">
                                <div class="row px-2">
                                
                                    <div class="col-lg-4">
                                        <label>Position Name</label>
                                        <input type="text" class="form-control" name="Position" value="@Model.id_position" readonly="">
                                    </div>
                                    <div class="col-lg-4">
                                        <label>Fungsi</label>
                                        <input type="text" class="form-control" name="Fungsi" readonly="">
                                    </div>
                                    <div class="col-lg-4">
                                        <label>Supervisor Name</label>
                                        <input type="text" class="form-control" name="Supervisor" readonly="">
                                    </div>

                                </div>
                                <div class="p-2">
                                    <a href="#" onclick="selectCandidate()">
                                        <button  class="btn btn-success">
                                            Select Candidate <i class="fa fa-plus"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="table-responsive px-2">
                                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <table class="table table-bordered nowrap" id="candidateTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr style="text-align: center;">
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                            <th>Expected Salary</th>                                        
                                            <th>Interview Score</th>
                                            <th>Offer Salary</th>
                                            <th>Final Salary</th>
                                            <th>Last Updated</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                               
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){ 
        //candidateTable();

        @* function candidateTable(){
             $.ajax({
                'url': "",
                'method': "GET",
                'contentType': 'application/json'
            }).done( function(data) {
              data = JSON.parse(data)
              data.forEach(function (row){
                row.expected_salary = formatNumber(parseInt(row.expected_salary))
                row.offer_salary = formatNumber(parseInt(row.offer_salary))
                row.final_salary = formatNumber(parseInt(row.final_salary))
                row.interview_score = parseFloat(row.interview_score).toFixed(2)+' %'
              }) *@
              
              var mrftable = $('#candidateTable').DataTable({
                ordering : true,
                autoWidth : false,
                columns: [
                        { data: 'Name' },
                        { data: 'candidate_status' },
                        { data: 'id' },
                        { data: 'expected_salary' },
                        { data: 'interview_score' },
                        { data: 'offer_salary' },
                        { data: 'final_salary' },
                        { data: 'last_updated' },
                    ],
                columnDefs : [
                    {targets : 2, visible : false}
                ],
                select: {
                      style: 'single' // Enable multi-row selection (can also use 'single')
                },
                dom: 'Bfrtip',
                buttons: [
                         {
                             text: 'Interview',
                             action: function ( e, dt, node, config ) {
                                 //dt.column( -2 ).visible( ! dt.column( -2 ).visible() );
                                 var rows = mrftable.rows( { selected: true } ).data().toArray();
                                 //console.log( rows ); // array of selected rows (each row is an array of data)
                                 var ids = rows.map(function(x) {
                                     return x[12];
                                 });
                                 @* if (rows[0].candidate_status == "Candidate") {
                                    window.location.href = '<?php echo base_url()?>TAD/AO/interview/'+rows[0].id   
                                 }else{ *@
                                    Swal.fire({
                                      title: 'Interview Result!',
                                      text: "Kandidat sudah interview, ingin interview ulang?",
                                      icon: 'warning',
                                      showCancelButton: true,
                                      confirmButtonColor: '#3085d6',
                                      cancelButtonColor: '#d33',
                                      confirmButtonText: 'Ya, lanjutkan!'
                                    }).then((result) => {
                                      if (result.isConfirmed) {
                                        window.location.href = '/AO/Interview/'   
                                      }
                                    })
                                // }
                                 
                             }
                         },
                         {
                             text: 'Offering',
                             action: function ( e, dt, node, config ) {
                                 //dt.column( -2 ).visible( ! dt.column( -2 ).visible() );
                                 var rows = mrftable.rows( { selected: true } ).data().toArray();
                                 //console.log( rows ); // array of selected rows (each row is an array of data)
                                 var ids = rows.map(function(x) {
                                     return x[12];
                                 });
                                 @* if (rows[0].candidate_status == "Interview") {
                                    window.location.href = '/AO/Offering/'  
                                 }else{ *@
                                    Swal.fire({
                                      title: 'Confirm Offering!',
                                      text: "Kandidat belum interview, yakin langsung ke tahap offering?",
                                      icon: 'warning',
                                      showCancelButton: true,
                                      confirmButtonColor: '#3085d6',
                                      cancelButtonColor: '#d33',
                                      confirmButtonText: 'Ya, lanjutkan!'
                                    }).then((result) => {
                                      if (result.isConfirmed) {
                                        window.location.href = '/AO/Offering/'  
                                      }
                                    })
                                 //}
                             }
                         },
                         {
                             text: 'Assign',
                             action: function ( e, dt, node, config ) {
                                 //dt.column( -2 ).visible( ! dt.column( -2 ).visible() );
                                 var rows = mrftable.rows( { selected: true } ).data().toArray();
                                 //console.log( rows ); // array of selected rows (each row is an array of data)
                                 var ids = rows.map(function(x) {
                                     return x[12];
                                 });
                                 //dt.column( -2 ).visible( ! dt.column( -2 ).visible() );
                                 var rows = mrftable.rows( { selected: true } ).data().toArray();
                                 //console.log( rows ); // array of selected rows (each row is an array of data)
                                 var ids = rows.map(function(x) {
                                     return x[12];
                                 });
                                 if ((rows[0].candidate_status).includes("Offer")) {
                                    window.location.href = '<?php echo base_url()?>TAD/AO/confirm/'+rows[0].id   
                                 }else{
                                    Swal.fire({
                                      title: 'Confirm Assignment!',
                                      text: "Kandidat belum Offering, yakin langsung ke tahap assignment?",
                                      icon: 'warning',
                                      showCancelButton: true,
                                      confirmButtonColor: '#3085d6',
                                      cancelButtonColor: '#d33',
                                      confirmButtonText: 'Ya, lanjutkan!'
                                    }).then((result) => {
                                      if (result.isConfirmed) {
                                        window.location.href = '<?php echo base_url()?>TAD/AO/confirm/'+rows[0].id   
                                      }
                                    })
                                 }
                             }
                         },
                         {
                             text: 'Remove',
                             action: function ( e, dt, node, config ) {
                                 //dt.column( -2 ).visible( ! dt.column( -2 ).visible() );
                                 var rows = this.rows( { selected: true } ).data().toArray();
                                 //console.log( rows ); // array of selected rows (each row is an array of data)
                                 Swal.fire({
                                   title: 'Confirm Remove Candidate!',
                                   text: "Yakin ingin menghilangkan kandidat?",
                                   icon: 'warning',
                                   showCancelButton: true,
                                   confirmButtonColor: '#3085d6',
                                   cancelButtonColor: '#d33',
                                   confirmButtonText: 'Ya, Hilangkan!'
                                 }).then((result) => {
                                   if (result.isConfirmed) {
                                     window.location.href = '<?php echo base_url()?>TAD/MRF/deleteCandidate/'+rows[0].id
                                   }
                                 })
                                 
                             }
                         }

                ]
              });

              @* });
            
        } *@
    });    
        

</script>

<script type="text/javascript">
    
    function getCandidate(){
        $.ajax({
            url: "<?php echo base_url()?>TAD/MRF/getCandidate",
            type: "GET",
            dataType: "json",
            success: function(data) {
                console.log(data);
            }
        });
    }

    function selectCandidate(){
        var dynamicTable = $('#candidateTable').DataTable();
        var lastRow = dynamicTable.row().count();

        $.ajax({
                url: '/MRF/GetCandidate',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    let tableHtml = "<table id='dataTable' class='table table-sm table-bordered small valign-middle'>";
                     tableHtml += "<thead><tr><th>Nama</th><th>Gender</th><th>Tanggal Lahir</th><th>Pendidikan</th><th>Pengalaman Kerja</th><th>Action</th></tr></thead>";
                     tableHtml += "<tbody>";
                     data.forEach(function(row) {
                        tableHtml += "<tr>";
                        tableHtml += "<td>" + row.nama + "</td>";
                        tableHtml += "<td>" + row.jenis_Kelamin + "</td>";
                        tableHtml += "<td>" + row.tgl_Lahir + "</td>";
                        tableHtml += "<td>" + row.tingkat_Pendidikan + "</td>";
                        tableHtml += "<td>" + row.pengalaman_Kerja_Pertama + "</td>";
                        tableHtml += "<td><a class='btn btn-primary select-button' data-id='" + row.nopek + "'>Select</a></td>";
                        tableHtml += "</tr>";
                     });
                     tableHtml += "</tbody></table>";

                     Swal.fire({
                       title: 'Candidate List',
                       html: tableHtml,
                       width : 1500,
                       showCloseButton: true,
                     })

                     $('#dataTable').DataTable({
                       ordering : true,
                       autoWidth : false,
                       responsive : true,
                       select: {
                            style: 'single'
                       }
                     });
                      $('#dataTable').on('click', '.select-button', function() {
                             var index;
                             var id = $(this).data('id');
                             for (var key in data) {
                                if (data[key].Nopek == id) {
                                    
                                    cData = {
                                        'mrf_id' : '@Model.id_mrf',
                                        'status' : 'Candidate',
                                        'personnel_id' : data[key].Nopek
                                    }
                                    $.ajax({
                                            url: '/MRF/InsertCandidate/',
                                            type: 'POST',
                                            dataType: 'json',
                                            data: cData,
                                            success: function(data) {
                                                n = JSON.stringify(data)
                                                o = JSON.parse(n)
                                                
                                                Swal.fire({
                                                    title: 'Update Status',
                                                    html: o.msg,
                                                    showCloseButton: true,
                                                });
                                                
                                            }
                                        });
                                 location.reload();
                                 break;
                               }
                             }

                         });

                }
        });
    }

   
</script>
