 @{
    ViewData["Title"] = "Create MRF";
    Layout = "~/Views/Shared/_Sidebar.cshtml";
}
<h1>@ViewData["Title"]</h1>
        <div class="card-body">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Create MRF</h6>
                    </div>

                    <div class="card-body">
                        <form asp-action="">
                          <div class="container px-0">
                            <ul class="nav nav-tabs">
                              <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tab1">1. Requestor Data</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab2">2. Position Data</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab3">3. Justification</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab4" id="link-tab4">4. Review</a>
                              </li>
                            </ul>

                            <div class="tab-content">
                              <div class="tab-pane fade show active" id="tab1">
                                <div class="row">
                                    <!-- Requestor SEction -->
                                    <div class="col-md-12 col-xl-6">
                                        <div class="card my-3">
                                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">Requestor</h6>
                                            </div>
                                            <div class="card-body">
                                                <input type="text" class="form-control form-control-bot-border required" name="empName" placeholder="Select Requestor" onclick="selectList(this)" required>
                                                <label>Employee ID</label>                                 
                                                <input type="text" class="form-control form-control-bot-border" name="empID" readonly>
                                                <label>Job Title</label>
                                                <input type="text" class="form-control form-control-bot-border" name="empPos" readonly>
                                                <label>Division</label>
                                                <input type="text" class="form-control form-control-bot-border" name="empDiv" readonly>
                                                <label>Department</label>
                                                <input type="text" class="form-control form-control-bot-border" name="empDept" readonly>
                                                <label>Section</label>
                                                <input type="text" class="form-control form-control-bot-border" name="empSec" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xl-6">
                                        <div class="card my-3">
                                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">MRF Information</h6>
                                            </div>
                                            <div class="card-body">
                                                <label>MRF #</label>
                                                <input type="text" class="form-control form-control-bot-border" name="MRF_No" readonly>
                                                <label>Date</label>
                                                <input type="text" class="form-control form-control-bot-border" name="CreatedDate" readonly>
                                                <label>Subsidiaries</label>
                                                <input type="text" class="form-control form-control-bot-border" name="empSubs" readonly>
                                                <label>yID</label>
                                                <input type="text" class="form-control form-control-bot-border" name="yID">
                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-md btn-primary float-right saveDraftBtn" id="saveDraft">Save as Draft</a>
                                    </div>
                                </div>
                              </div>
                              <!-- position section -->
                              <div class="tab-pane fade" id="tab2">
                              <div class="row">
                                    <div class="col-md-12 col-xl-12">
                                        <div class="card my-3" id="Role">
                                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">Position Data</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive px-2">
                                                    <div class="row text-sm-left">
                                                    <!-- Type -->
                                                    <div class="col-lg-12 mb-4">
                                                        <div class="card bg-white shadow">
                                                            <h5 style="margin: 10px;">Proposed Contract Data</h5> 
                                                            <hr class="sidebar-head my-0 bg-white"></hr>
                                                            <div class="row justify-content-md-right text-sm-left" style="margin: 10px;">
                                                                <div class="col-md-6">
                                                                    <label>Type</label>
                                                                    <select class="form-control" name="type" id="type">
                                                                        <option value="New">New Hire</option>
                                                                        <option value="Extension">Extend</option>
                                                                        <option value="Replacement">Replacement</option>
                                                                    </select>
                                                                </div>
                                                                <div class="row col-md-6">
                                                                    <div class="col-md-6">
                                                                        <label>Start Date</label>
                                                                        <input type="date" class="form-control required" name="start" required>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label>End Date</label>
                                                                        <input type="date" class="form-control required" name="end" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Position -->
                                                    <div class="col-lg-6 mb-4">
                                                       <div class="card bg-white shadow">
                                                           <h5 style="margin: 10px;">Position Data</h5> 
                                                           <hr class="sidebar-head my-0 bg-white"></hr>
                                                           <div class="row justify-content-md-right text-sm-left" style="margin: 10px;">
                                                                <div class="col-md-5 py-2">TAD Position Title</div>
                                                                <div class="col-sm-7 py-2">
                                                                    <input type="text" class="form-control form-control-bot-border required" name="posTitle" placeholder="Select Position" list="requestor"  onclick="selectPosition()" required>
                                                                </div>
                                                                <div class="col-sm-5 py-2">
                                                                    Position ID
                                                                </div>
                                                                <div class="col-sm-7 py-2">
                                                                    <input type="text" class="form-control form-control-bot-border" name="posID" readonly>
                                                                </div>
                                                                <div class="col-sm-5 py-2">
                                                                    Previous/Current TAD
                                                                </div>
                                                                <div class="col-sm-7 py-2">
                                                                    <input type="text" class="form-control form-control-bot-border" name="prevTAD" readonly>
                                                                </div>

                                                                <div class="col-sm-5 py-2">
                                                                    Previous/Current TAD Age
                                                                </div>
                                                                <div class="col-sm-7 py-2">
                                                                    <input type="text" class="form-control form-control-bot-border" name="prevAge" readonly>
                                                                </div>
                                                                <div class="col-sm-5 py-2">
                                                                    Direct Supervisor Name
                                                                </div>
                                                                <div class="col-sm-7 py-2">
                                                                    <input type="text" class="form-control form-control-bot-border" name="DirName" readonly>
                                                                </div>
                                                                <div class="col-sm-5 py-2">
                                                                    Direct Supervisor Title
                                                                </div>
                                                                <div class="col-sm-7 py-2">
                                                                    <input type="text" class="form-control form-control-bot-border" name="DirPos" readonly>
                                                                </div>
                                                                <div class="col-sm-5 py-2">
                                                                    Division
                                                                </div>
                                                                <div class="col-sm-7 py-2">
                                                                    <input type="text" class="form-control form-control-bot-border" name="Division" readonly>
                                                                </div>
                                                                <div class="col-sm-5 py-2">
                                                                    Department
                                                                </div>
                                                                <div class="col-sm-7 py-2">
                                                                    <input type="text" class="form-control form-control-bot-border" name="Dept" readonly>
                                                                </div>
                                                                <br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Preview MRF -->
                                                    <div class="col-lg-6 mb-4">
                                                        <div class="card bg-white shadow">
                                                            <h5 style="margin: 10px;">Info MRF</h5> 
                                                            <hr class="sidebar-head my-0 bg-white"></hr>
                                                            <div class="row justify-content-md-right text-sm-left" style="margin: 10px;">
                                                                <div class="col-sm-5 py-2">
                                                                    Previous MRF#
                                                                </div>
                                                                <div class="col-sm-7 py-2">
                                                                    <input type="text" class="form-control form-control-bot-border" name="prevMRF" readonly>
                                                                </div>
                                                                <div class="col-sm-5 py-2">
                                                                    Previous/Current Period
                                                                </div>
                                                                <div class="col-sm-7 py-2">
                                                                    <input type="text" class="form-control form-control-bot-border" name="prevPeriod" readonly>
                                                                </div><div class="col-sm-5 py-2">
                                                                    Performance Review
                                                                </div>
                                                                <div class="col-sm-7 py-2">
                                                                    <a href="#" onclick="perfReview()">Recommended (View)</a>
                                                                </div>
                                                                <div class="col-sm-5 py-2">
                                                                    Work Location
                                                                </div>
                                                                <div class="col-sm-7 py-2">
                                                                    <input type="text" class="form-control form-control-bot-border" name="workLoc" readonly>
                                                                </div>
                                                                <div class="col-sm-5 py-2">
                                                                    Working Schedule
                                                                </div>
                                                                <div class="col-sm-7 py-2">
                                                                    <input type="text" class="form-control form-control-bot-border" name="workSchedule" readonly>
                                                                </div>
                                                                <div class="col-sm-5 py-2">
                                                                    Work Term
                                                                </div>
                                                                <div class="col-sm-7 py-2">
                                                                    <select class="form-control" name="workTerm">
                                                                        <option value="monthly">Monthly</option>
                                                                        <option value="daily">Daily</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-sm-5 py-2">
                                                                    ABO/ABI
                                                                </div>
                                                                <div class="col-sm-7 py-2">
                                                                    <select class="form-control" name="ABO_ABI">
                                                                        <option value="ABO">ABO</option>
                                                                        <option value="ABI">ABI</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-sm-5 py-2">
                                                                    Cost Center
                                                                </div>
                                                                <div class="col-sm-7 py-2">
                                                                    <input type="text" class="form-control form-control-bot-border" name="costCenter" value="" readonly>
                                                                </div>
                                                                <br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-xl-12">
                                        <a href="#" class="btn btn-md btn-primary float-right saveDraftBtn" id="saveDraft">Save as Draft</a>
                                        <a href="#" class="btn btn-md btn-outline-primary " id="">Back</a>
                                    </div>
                                </div>
                            </div>
                              <div class="tab-pane fade" id="tab3">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12">
                                        <div class="card my-3">
                                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">Justification</h6>
                                            </div>
                                            <div class="card-body">
                                                <label>Note:</label>
                                                <ul>
                                                    <li>Please describe the workload changes as justification</li>
                                                </ul>
                                                <textarea class="form-control required" style="height: 150px" name="Justification" placeholder="Enter Justification" required="" value=""></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xl-12">
                                        <div class="card my-3">
                                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">Attachment</h6>
                                            </div>
                                            <div class="card-body">
                                                <input type="file" name="" value="Upload" class="btn btn-secondary">
                                                <a href="#" class="btn btn-primary">Upload</a>
                                            </div>
                                            <div class="table-responsive px-2">
                                                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th>No</th>
                                                                <th>File Name</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="file-table">                  
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-md btn-primary float-right saveDraftBtn" id="saveDraft">Save as Draft</a>
                                    </div>
                                </div>
                              </div>
                              <!-- Role Profile section -->
                              
                        <!--Review Section -->
                              <div class="tab-pane fade" id="tab4">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12">
                                        <div class="card my-3">
                                            <div class="card-body row mt-4">
                                                <div class="col-md-12 col-xl-12 text-center mb-4">
                                                    <h5>Manpower Requisite Form</h5>
                                                    <hr>
                                                </div>
                                                <div class="col-md-12 col-xl-12">
                                                    <label class="float-right">Date : <?= date('d F Y') ?></label>
                                                </div>
                                                <div class="col-md-12 col-xl-12 mt-4 mb-2">
                                                    <h5>Requestor Data</h5>
                                                    <hr>
                                                </div>
                                                <!-- Row 2 -->
                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-5 col-xl-2">No MRF</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-9" id="rvNO"></div>
                                                </div>
                                                <!-- Row 3 -->
                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-5 col-xl-2">Subsidiaries</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-9" id="rvSubs"></div>
                                                </div>
                                                <div class="col-xl-6"></div>
                                                <!-- Row 4 -->
                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-5 col-xl-2">Creator</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-9" id="rvCreator"></div>
                                                </div>
                                                <div class="col-xl-6"></div>
                                                <!-- Row 4 -->
                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-5 col-xl-2">Job Position</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-9" id="rvCrPos"></div>
                                                </div>
                                                <div class="col-xl-6 mb-2"></div>
                                                
                                                <!-- Separator -->

                                                <div class="col-md-12 col-xl-12 mt-4 mb-2">
                                                    <h5>Position Data</h5>
                                                    <hr>
                                                </div>
                                                <!-- Row 1 -->
                                                <div class="col-md-6 col-xl-6 row">
                                                    <div class="col-md-5 col-xl-4">Position Title</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-7" id="rvTitle"></div>
                                                </div>
                                                <div class="col-xl-6 col-md-6"></div>
                                                <!-- Row 1 -->
                                                <div class="col-md-6 col-xl-6 row">
                                                    <div class="col-md-5 col-xl-4">Division</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-7" id="rvDiv"></div>
                                                </div>
                                                <!-- Row 1 -->
                                                <div class="col-md-6 col-xl-6 row mb-4">
                                                    <div class="col-md-5 col-xl-4">Department</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-7" id="rvDept"></div>
                                                </div>
                                                 <!-- Row 7 -->
                                                <div class="col-md-6 col-xl-6 row">
                                                    <div class="col-md-5 col-xl-4">Direct Report</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-7" id="rvDirPos"></div>
                                                </div>
                                                <div class="col-xl-6 col-md-6"></div>
                                                 <!-- Row 5 -->
                                                <div class="col-md-6 col-xl-6 row">
                                                    <div class="col-md-5 col-xl-4">Division</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-7" id="rvDirDiv"></div>
                                                </div>
                                                 <!-- Row 6 -->
                                                <div class="col-md-6 col-xl-6 row">
                                                    <div class="col-md-5 col-xl-4">Department</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-7" id="rvDirDept"></div>
                                                </div>

                                                <div class="col-md-12 col-xl-12 mt-4 mb-2">
                                                    <h5>Previous MRF</h5>
                                                    <hr>
                                                </div>
                                                <div class="col-md-6 col-xl-6 row">
                                                    <div class="col-md-5 col-xl-4">MRF Type</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-7" id="rvType"></div>
                                                </div>
                                                <div class="col-md-6 col-xl-6 row">
                                                    <div class="col-md-5 col-xl-4">Prev MRF</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-7" id="rvPrevMrf"></div>
                                                </div>
                                                 <!-- Row 6 -->
                                                <div class="col-md-6 col-xl-6 row">
                                                    <div class="col-md-5 col-xl-4">TAD Name</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-7" id="rvPrevTad"></div>
                                                </div>
                                                <div class="col-md-12 col-xl-12 mt-4 mb-2">
                                                    <h5>MRF Contract Details</h5>
                                                    <hr>
                                                </div>
                                                <div class="col-md-6 col-xl-6 row">
                                                    <div class="col-md-5 col-xl-4">Start Date</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-7" id="rvStart"></div>
                                                </div>
                                                <div class="col-md-6 col-xl-6 row">
                                                    <div class="col-md-5 col-xl-4">End Date</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-7" id="rvEnd"></div>
                                                </div>
                                                <div class="col-md-6 col-xl-6 row">
                                                    <div class="col-md-5 col-xl-4">Duration</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-7" id="rvDur"></div>
                                                </div>
                                                <div class="col-md-6 col-xl-6 row">
                                                </div>
                                                <div class="col-md-6 col-xl-6 row">
                                                    <div class="col-md-5 col-xl-4">Working Location</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-7" id="rvWL"></div>
                                                </div>
                                                <div class="col-md-6 col-xl-6 row">
                                                    <div class="col-md-5 col-xl-4">Working Schedule</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-7" id="rvWS"></div>
                                                </div>

                                                <div class="col-md-6 col-xl-6 row">
                                                    <div class="col-md-5 col-xl-4">Budget Type</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-7" id="rvBudget"></div>
                                                </div>

                                                <div class="col-md-6 col-xl-6 row">
                                                    <div class="col-md-5 col-xl-4">Cost Center</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-7" id="rvCost"></div>
                                                </div>
                                                <!-- Separator -->
                                                <div class="col-md-12 col-xl-12 mt-4 mb-2">
                                                    <h5>Brief Justification</h5>
                                                    <hr>
                                                </div>
                                                <!-- Row 1 -->
                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-12 col-xl-12 text-justify" id="rvJus">
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-xl-6"></div>
                                                <br>

                                            </div>
                                        </div>
                                                <div class="col-xl-12 text-center">
                                                    <a href="#" class="btn btn-primary"> Back </a>
                                                    <a href="#Submit" class="btn btn-success submitBtn"> SUBMIT </a>
                                                </div>
                                    </div>
                                </div> 
                              </div>
                            </div>
                          </div>

                        </form>
                    </div>
                </div>
        </div>

<script type="text/javascript">
    function perfReview(){
        Swal.fire({
          title: 'Performance Review',
          html: 'MRF No : xxx',
          width : 1200,
          showCloseButton: true,
        })
    }

function selectList(input) {
        $.ajax({
            url: '/OCF/GetPosition',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                let tableHtml = "<table class='table table-sm table-bordered small' id='positionTable'>";
                    tableHtml += "<thead><tr><th>ID Position</th><th>Job Position</th><th>Employee Name</th><th>Action</th></tr></thead>";
                    tableHtml += "<tbody>";
                    data.forEach (function(row) {
                        tableHtml += "<tr>";
                        tableHtml += "<td>" + row.iD_Position + "</td>";
                        tableHtml += "<td>" + row.position + "</td>";
                        tableHtml += "<td>" + row.name + "</td>";
                        tableHtml += "<td><a class='btn btn-primary select-button' data-id='" + row.iD_Position + "'>Select</a></td>";
                        tableHtml += "</tr>";
                    });
                    tableHtml += "</tbody></table>";
                     Swal.fire({
                       title: 'Select Requestor',
                       html: tableHtml,
                       width : 1000,
                       showCloseButton: true,
                     });

                      $('#positionTable').DataTable({
                       ordering : true,
                       autoWidth : false,
                       select: {
                             style: 'single'
                       },
                     });

                     var currentDate = new Date(); // Current date
                     var currentYear = currentDate.getFullYear(); // Get the current year

                    $('#positionTable').on('click', '.select-button', function() {
                             var index;
                             var id = $(this).data('id');
                             for (var key in data) {
                                if (data[key].iD_Position == id) {
                                 $('[name="empName"]').val(data[key].name);
                                 $('[name="empID"]').val(data[key].person_Id);
                                 $('[name="empPos"]').val(data[key].position);
                                 $('[name="empDiv"]').val(data[key].divisi);
                                 $('[name="empDept"]').val(data[key].departemen);
                                 $('[name="empSec"]').val(data[key].section);
                                 $('[name="empSubs"]').val(data[key].company_Name);
                                 
                                 var DirectID = data[key].iD_Position_Atasan;
                                    for (var key2 in data) {
                                        if (data[key].iD_Position_Atasan == data[key2].iD_Position) {

                                            $('[name="DirID"]').val(data[key2].iD_Position);
                                            $('[name="DirPos"]').val(data[key2].position);
                                            $('[name="DirName"]').val(data[key2].name);
                                            $('[name="DirDiv"]').val(data[key2].divisi);
                                            $('[name="DirDept"]').val(data[key2].departemen);
                                            $('[name="costCenter"]').val(data[key2].cost_Center_Posisi);
                                            $('[name="MRF_No"]').val('REG/PPC51200/'+currentYear+'/____');
                                            
                                        }
                                    } 
                                    console.log(data)
                                 Swal.close()
                                 break;
                               }
                             }

                         });


            }
        });
    }

     function selectPosition(input){
        var dynamicTable = $('#posTable').DataTable();
        var lastRow = dynamicTable.row().count();

        $.ajax({
                url: '/MRF/GetTadPosition',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    let tableHtml = "<table id='posisiTable' class='table table-sm table-bordered small valign-middle nowrap'>";
                     tableHtml += "<thead><tr><th style='width:10%'>ID Position</th><th style='width:20%'>Position Title</th><th>Direct Supervisor</th><th>Direktorat</th><th>Division</th><th>Pers Area</th><th>Action</th></tr></thead>";
                     tableHtml += "<tbody>";
                     data.forEach(function(row) {
                        tableHtml += "<tr>";
                        tableHtml += "<td>" + row.position.id_position + "</td>";
                        tableHtml += "<td>" + row.position.posTitle + "</td>";
                        tableHtml += "<td>" + row.directPos.position + "</td>";
                        tableHtml += "<td>" + row.position.direktorat + "</td>";
                        tableHtml += "<td>" + row.position.division + "</td>";
                        tableHtml += "<td>" + row.position.persArea_ID + "</td>";
                        tableHtml += "<td><a class='btn btn-primary select-button' data-id='" + row.position.id_position + "'>Select</a></td>";
                        tableHtml += "</tr>";
                        });
                     tableHtml += "</tbody></table>";
                     Swal.fire({
                       title: 'Position List',
                       html: tableHtml,
                       width : 1500,
                       showCloseButton: true,
                     })

                     $('#posisiTable').DataTable({
                       ordering : true,
                       autoWidth : false,
                       responsive : true,
                       select: {
                             style: 'single'
                       },
                     });

                     var currentDate = new Date(); // Current date
                     var currentYear = currentDate.getFullYear(); // Get the current year

                     $('#posisiTable').on('click', '.select-button', function() {
                             var index;
                             var id = $(this).data('id');
                             for (var key in data) {
                                if (data[key].position.id_position == id) {
                                    
                                     $('[name="posTitle"]').val(data[key].position.posTitle);
                                     $('[name="posID"]').val(data[key].position.id_position);

                                     if ($('[name="type"]').val() == "Extension" || $('[name="type"]').val() == "Replacement") {
                                        
                                        if (data[key].prevAO != null) {
                                            dob = new Date(data[key].prevAO.tgl_Lahir);
                                            var today = new Date();
                                            var age = Math.floor((today-dob) / (365.25 * 24 * 60 * 60 * 1000));
                                            
                                            $('[name="prevTAD"]').val(data[key].prevAO.nama);
                                            $('[name="prevAge"]').val(age+' Years Old');
                                            $('[name="prevMRF"]').val(data[key].prevAO.mrf_code);
                                            $('[name="prevPeriod"]').val(data[key].prevAO.start_date);
                                        } else {
                                            alert('This position not available for extend');
                                            $('[name="posTitle"]').val('');
                                            $('[name="posID"]').val('');
                                            $('[name="prevTAD"]').val('');
                                            $('[name="prevAge"]').val('');
                                            $('[name="DirName"]').val('');
                                            $('[name="DirPos"]').val('');
                                            $('[name="Division"]').val('');
                                            $('[name="Department"]').val('');
                                            $('[name="workSchedule"]').val('');
                                            $('[name="workLoc"]').val('');
                                            $('[name="costCenter"]').val('');
                                            $('[name="type"]').val('New')
                                        }                                          
                                     }
                                     $('[name="DirName"]').val(data[key].directPos.name);
                                     $('[name="DirPos"]').val(data[key].directPos.position);
                                     $('[name="Division"]').val(data[key].position.division);
                                     $('[name="Department"]').val(data[key].position.department);
                                     $('[name="workSchedule"]').val(data[key].position.work_Schedule);
                                     $('[name="workLoc"]').val(data[key].position.persArea_ID);
                                     $('[name="costCenter"]').val(data[key].position.costCenter);
                                        
                                }
                                Swal.close();
                             } 

                         }); 

                }
        });
    }

    function getQueryParameter(name) {
    // Fungsi ini untuk mengambil parameter query string berdasarkan namanya.
    var urlParams = new URLSearchParams(window.location.search);
    return urlParams.get(name);
    }
    

    $(".saveDraftBtn").click(function() {
    var tempKey = '';
    var MRF_id = getQueryParameter("id_mrf"); // Fungsi yang mengambil parameter query string.

    if (MRF_id !== '0') {
        tempKey = getQueryParameter("tempKey");
    }
    var data = {
        mrf_code: $('[name="MRF_No"]').val(),
        status: 'Draft',
        mrf_type: $('[name="type"]').val(),
        id_position: parseInt($('[name="posID"]').val()),
        workTerm: $('[name="workTerm"]').val(),
        aBI_ABO: $('[name="ABO_ABI"]').val(),
        prev_mrf: $('[name="prevMRF"]').val(),
        justification: $('[name="Justification"]').val(),
        start_date: $('[name="start"]').val(),
        end_date: $('[name="end"]').val(),
        RequestorID: $('[name="empID"]').val(),
        created_by: '<%= this.Session["id"] %>',
        tempKey: tempKey
    };

    $.ajax({
        url: '/MRF/Insert', 
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(data),
        dataType: 'json',
        success: function (response) {
            if (response.status === 2) {
                Swal.fire({
                    title: 'Update Status',
                    html: response.msg,
                    showCloseButton: true
                });
                if (tempKey) {
                    window.location.href = 'MRF/Create' + tempKey;
                } else {
                    window.location.href = 'MRF'; // Redirect ke halaman yang sesuai
                }
            } else {
                Swal.fire({
                    title: 'Update Status',
                    html: response.msg,
                    showCloseButton: true
                });
            }
        },
        error: function (error) {
            Swal.fire({
                title: 'Error',
                html: 'Terjadi kesalahan saat menyimpan draft.',
                showCloseButton: true
            });
        }
    });

    return false; // Prevent the postback
});
    

    $(".submitBtn").click(function() {
        var tempKey = '';
        var mrf_id = '0'; 

        if (mrf_id !== '0') {
            tempKey = 'tempKeyValue'; 
        }
        if (checkInputs()) {
            var data = {
            'mrf_code' : $('[name="MRF_No"]').val(),
            'status' : 'Routing',
            'yID' : $('[name="yID"]').val(),
            'mrf_type' : $('[name="type"]').val(),
            'id_position' : $('[name="posID"]').val(),
            'workTerm' : $('[name="workTerm"]').val(),
            'aBI_ABO' : $('[name="ABO_ABI"]').val(),
            'prev_mrf': parseInt($('[name="prevMRF"]').val(), 10),
            'justification' : $('[name="Justification"]').val(),
            'start_date' : $('[name="start"]').val(),
            'end_date' : $('[name="end"]').val(),
            'requestorID' : $('[name="empID"]').val(),
            'created_by' : '1',
            'tempKey' : tempKey,
        }
        //alert(JSON.stringify(data));
        $.ajax({
            url: '/MRF/SubmitMRF',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function(data) {
                var tempKey = data.tempKey;
                if (data.status === 2) {
                    Swal.fire({
                        title: 'Update Status',
                        html: data.msg,
                        showCloseButton: true
                    });
                    window.location.href = '/MRF/Index';
                    }else{
                        Swal.fire({
                          title: 'Update Status',
                          html: data.msg,
                          showCloseButton: true,
                        });
                         
                    }
                    
                }
            });
        }else{
           Swal.fire({
             title: 'Submit Error',
             html: 'Some Data Requireed Before Submit MRF',
             showCloseButton: true,
           }); 
        }
    });

    //Check Review
    $("#link-tab4").click(function() {
        if (checkInputs()) {
            console.log('test')
            var data = {
                'mrf_code' : $('[name="MRF_No"]').val(),
                'status' : 'Draft',
                'mrf_type' : $('[name="type"]').val(),
                'id_position' : $('[name="posID"]').val(),
                'workTerm' : $('[name="workTerm"]').val(),
                'aBI_ABO' : $('[name="ABO_ABI"]').val(),
                'prev_mrf' : $('[name="prevMRF"]').val(),
                'divisi' : $('[name="div"]').val(),
                'justification' : $('[name="Justification"]').val(),
                'start_date' : $('[name="start"]').val(),
                'end_date' : $('[name="end"]').val(),
                'requestorID' : $('[name="empID"]').val(),
                'created_by' : '1',
            } 

            $('#rvNO').text($('[name="MRF_No"]').val())
            $('#rvSubs').text($('[name="empSubs"]').val())
            $('#rvCreator').text($('[name="empName"]').val())
            $('#rvCrPos').text($('[name="empPos"]').val())

            $('#rvTitle').text($('[name="posTitle"]').val())
            $('#RvCost').text($('[name="aBO_ABI"]').val()+ ' - ' + $('[name="workTerm"]').val())

            $('#rvDiv').text($('[name="Division"]').val())
            $('#rvDept').text($('[name="Department"]').val())
            $('#rvDirPos').text($('[name="DirPos"]').val())
            $('#rvDirDept').text($('[name="Department"]').val())
            $('#rvDirDiv').text($('[name="Division"]').val())
            $('#rvJus').text($('[name="Justification"]').val())

            $('#rvType').text($('[name="type"]').val())
            $('#rvPrevTad').text($('[name="prevTAD"]').val())
            $('#rvPrevMrf').text($('[name="prevMRF"]').val())
            $('#rvStart').text($('[name="start"]').val())
            $('#rvEnd').text($('[name="end"]').val())

            $('#rvWL').text($('[name="workLoc"]').val())
            $('#rvWS').text($('[name="workSchedule"]').val())
            $('#rvBudget').text($('[name="ABO_ABI"]').val()+' - '+$('[name="workTerm"]').val())
            $('#rvCost').text($('[name="costCenter"]').val())
            
            function differenceInMonths(date1, date2) {
              const monthDiff = date1.getMonth() - date2.getMonth();
              const yearDiff = date1.getYear() - date2.getYear();

              return monthDiff + yearDiff * 12;
            }

            // June 5, 2022
            const date1 = new Date($('[name="end"]').val());

            // March 17, 2021
            const date2 = new Date($('[name="start"]').val());

            const difference = differenceInMonths(date1, date2);

           $('#rvDur').text(difference+ ' Months')

           console.log(data);

        }else{
            
            alert('Some Required Fields are not filled!');
        } 
    });

</script>