@{
    ViewData["Title"] = "Interview";
    Layout = "~/Views/Shared/_Sidebar.cshtml";
}
<div class="card-body">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Interview</h6>
    </div>
    <div class="card-body">
      <form method="post">
        <div class="container px-0">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tab1">1. Interview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab2" id="link-tab2">2. Review</a>
            </li>
          </ul>
          <div class="tab-content">
            <!-- Interview -->
            <div class="tab-pane show active" id="tab1">
              <div class="row">
                <!-- Data Kandidat -->
                <div class="col-md-12 col-xl-12">
                  <div class="card my-3">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary">Interview Process</h6>
                    </div>
                    <div class="card-body">
                      <div class="col-lg-12 mb-4">
                        <div class="row justify-content-md-right text-sm-left" style="margin: 10px;">
                          <div class="col-md-6">
                            <label>Tanggal Wawancara</label>
                            <input type="date" class="form-control required" name="date" required>
                          </div>
                          <div class="col-md-6">
                            <label>Lokasi Wawancara</label>
                            <select class="form-control" name="loc" id="">
                              <option value="MSTeam (Online)">MSTeam (Online)</option>
                              <option value="Onsite (Offline)">Onsite (Offline)</option>
                            </select>
                          </div>
                          <div class="row col-md-12 mt-2">
                            <div class="col-md-6">
                              <label>Nama Kandidat</label>
                              <input type="text" class="form-control form-control-bot-border required" name="name" placeholder="Select Kandidat" readonly>
                              <label>Tanggal & Tempat Lahir</label>
                              <input type="text" class="form-control form-control-bot-border" name="edu" readonly>
                              <label>Jenjang Pendidikan Terakhir</label>
                              <input type="text" class="form-control form-control-bot-border" name="start" readonly>
                              <label>Jurusan Pendidikan Terakhir</label>
                              <input type="text" class="form-control form-control-bot-border" name="start" readonly>
                              <label>Asal Perguruan Tinggi</label>
                              <input type="text" class="form-control form-control-bot-border" name="start" readonly>
                              <label>Status Pajak</label>
                              <input type="text" class="form-control form-control-bot-border" name="statusPajak" readonly>
                            </div>
                            <div class="col-md-6 pl-4">
                              <label>Position Title</label>
                              <input type="text" class="form-control form-control-bot-border required" name="posTitle" placeholder="Select Position" list="requestor" autocomplete="off" readonly>
                              <label>Divisi</label>
                              <input type="text" class="form-control form-control-bot-border" name="start" readonly>
                              <label>Departemen</label>
                              <input type="text" class="form-control form-control-bot-border" name="start" readonly>
                              <label>Work Schedule</label>
                              <input type="text" class="form-control form-control-bot-border" name="start" readonly>
                              <label>Work Location</label>
                              <input type="text" class="form-control form-control-bot-border" name="start" readonly>
                            </div>
                          </div>
                        </div>                        
                      </div>
                    </div>
                  
                </div>
                <!-- Penilaian -->
                <div class="card my-3">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary">Faktor Penilaian Wawancara</h6>
                    </div>
                    <div class="card-body">
                        <div class="container px-0">
                          <ul class="nav nav-tabs">
                            <li class="nav-item">
                              <a class="nav-link active" data-toggle="tab" href="#penilaian1">A. KOMPETENSI TEKNIS</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#penilaian2">B. C5B AKHLAK</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#penilaian3">C. SKILL</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#penilaian4">D. CATATAN KHUSUS</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#penilaian5">E. INFORMASI SALARY</a>
                            </li>
                          </ul>
                          <div class="tab-content">
                            <div class="tab-pane fade show active" id="penilaian1">
                              <div class="row">
                                <!-- Penilaian 1 -->
                                <div class="col-md-12 col-xl-12">
                                  <div class="card my-3">
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                      <h6 class="m-0 font-weight-bold text-primary">Detail Aspek Kompetensi Teknis</h6>
                                    </div>
                                    <div class="card-body">
                                      <table class="table table-sm table-bordered" style="width:100%" style="text-align: center">
                                        <tr>
                                          <!-- <td></td> -->
                                          <th colspan="2" class="text-center">FAKTOR-FAKTOR YANG DINILAI (KOMPETENSI)</th>
                                          <th colspan="2" class="text-center">Skala</th>
                                        </tr>
                                        <tr>
                                          <td style="width:10%" class="text-center">A</td>
                                          <td style="width:65%"></td>
                                          <td style="width:25%" colspan="2">
                                            <select class="form-control select-comp" name="compScore[]" id="">
                                              <option value="1">Kurang Sekali (1)</option>
                                              <option value="2">Kurang (2)</option>
                                              <option value="3">Cukup (3)</option>
                                              <option value="4">Baik (4)</option>
                                              <option value="5">Baik Sekali (5)</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td style="width:10%;text-align: center;">40%</td>
                                          <td style="width:70%;text-align: center;">Total Nilai A</td>
                                          <td style="width:10%;text-align: center;" id="total_A">( 0 )</td>
                                          <td style="width:10%;text-align: center;" id="percent_A">0%</td>
                                        </tr>
                                      </table>
                                   </div>
                                </div>
                               </div>
                              </div>
                              <br>
                           </div>
                            <div class="tab-pane fade" id="penilaian2">
                              <div class="row">
                                <!-- Penilaian 2 -->
                                <div class="col-md-12 col-xl-12">
                                  <div class="card my-3">
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                      <h6 class="m-0 font-weight-bold text-primary">Detail Aspek C5B Akhlak</h6>
                                    </div>
                                    <div class="card-body">
                                      <table class="table table-sm table-bordered">
                                        <tr>
                                          <th colspan="2" class="text-center">FAKTOR-FAKTOR YANG DINILAI (PERILAKU AKHLAK)</th>
                                          <th colspan="2" class="text-center">Skala</th>
                                        </tr>
                                        <tr>
                                          <td style="width:10%" class="text-center">B1</td>
                                          <td style="width:65%">Berani mengambil keputusan secara cepat dan tepat berdasarkan risiko yang terukur (KOMPETEN)</td>
                                          <td style="width:25%" colspan="2">
                                            <select class="form-control select-akhlak" name="akhlakScore[]" id="">
                                              <option value="1">Kurang Sekali (1)</option>
                                              <option value="2">Kurang (2)</option>
                                              <option value="3">Cukup (3)</option>
                                              <option value="4">Baik (4)</option>
                                              <option value="5">Baik Sekali (5)</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="text-center">B2</td>
                                          <td>Bertanggung jawab atas tugas dan keputusan dan tindakan yang dilakukan hingga tuntas (AMANAH)</td>
                                          <td colspan="2">
                                            <select class="form-control select-akhlak" name="akhlakScore[]" id="">
                                              <option value="1">Kurang Sekali (1)</option>
                                              <option value="2">Kurang (2)</option>
                                              <option value="3">Cukup (3)</option>
                                              <option value="4">Baik (4)</option>
                                              <option value="5">Baik Sekali (5)</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="text-center">B3</td>
                                          <td>Berpegang teguh pada nilai moral dan etika (AMANAH)</td>
                                          <td colspan="2">
                                            <select class="form-control select-akhlak" name="akhlakScore[]" id="">
                                              <option value="1">Kurang Sekali (1)</option>
                                              <option value="2">Kurang (2)</option>
                                              <option value="3">Cukup (3)</option>
                                              <option value="4">Baik (4)</option>
                                              <option value="5">Baik Sekali (5)</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="text-center">B4</td>
                                          <td>Bersinergi secara agresif memberikan nilai tambah sebesar-besarnya untuk perusahaan dan stakeholder lainnya (KOLABORATIF)</td>
                                          </td>
                                          <td colspan="2">
                                            <select class="form-control select-akhlak" name="akhlakScore[]" id="">
                                              <option value="1">Kurang Sekali (1)</option>
                                              <option value="2">Kurang (2)</option>
                                              <option value="3">Cukup (3)</option>
                                              <option value="4">Baik (4)</option>
                                              <option value="5">Baik Sekali (5)</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="text-center">B5</td>
                                          <td>Bersinergi secara agresif memberikan nilai tambah sebesar-besarnya untuk perusahaan dan stakeholder lainnya (KOLABORATIF)</td>
                                          </td>
                                          <td colspan="2">
                                            <select class="form-control select-akhlak" name="akhlakScore[]" id="">
                                              <option value="1">Kurang Sekali (1)</option>
                                              <option value="2">Kurang (2)</option>
                                              <option value="3">Cukup (3)</option>
                                              <option value="4">Baik (4)</option>
                                              <option value="5">Baik Sekali (5)</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td style="width:10%;text-align: center;">40%</td>
                                          <td style="width:65%;text-align: center;">Total Nilai B</td>
                                          <td style="width:10%;text-align: center;" id="total_B">( 0 )</td>
                                          <td style="width:10%;text-align: center;" id="percent_B">0%</td>
                                        </tr>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <br>
                            </div>
                            <div class="tab-pane fade" id="penilaian3">
                              <div class="row">
                                <!-- Penilaian 3 -->
                                <div class="col-md-12 col-xl-12">
                                  <div class="card my-3">
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                      <h6 class="m-0 font-weight-bold text-primary">Detail Aspek Skill</h6>
                                    </div>
                                    <div class="card-body">
                                      <table class="table table-sm table-bordered" style="width:100%" style="text-align: center">
                                        <tr>
                                          <th colspan="2" class="text-center">FAKTOR-FAKTOR YANG DINILAI (SKILL)</th>
                                          <th colspan="2" class="text-center">Skala</th>
                                        </tr>
                                       
                                        <tr>
                                          <td style="width:10%" class="text-center">C</td>
                                          <td style="width:70%"></td>
                                          <td style="width:10%" colspan="2">
                                            <select class="form-control select-skill" name="skillScore[]" id="">
                                              <option value="1">Kurang Sekali (1)</option>
                                              <option value="2">Kurang (2)</option>
                                              <option value="3">Cukup (3)</option>
                                              <option value="4">Baik (4)</option>
                                              <option value="5">Baik Sekali (5)</option>
                                            </select>
                                          </td>
                                        </tr>

                                        <tr>
                                          <td class="text-center">20%</td>
                                          <td style="width:65%;text-align: center;">Total Nilai C</td>
                                          <td style="width:10%;text-align: center;" id="total_C">( 0 )</td>
                                          <td style="width:10%;text-align: center;" id="percent_C">0%</td>
                                        </tr>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="penilaian4">
                              <div class="row">
                                <!-- Penilaian 3 -->
                                <div class="col-md-12 col-xl-12">
                                  <div class="card my-3">
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                      <h6 class="m-0 font-weight-bold text-primary">Detail Catatan Khusus</h6>
                                    </div>
                                    <div class="card-body">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <label>Kelebihan</label>
                                          <textarea class="form-control required" style="height: 150px" id="Adv" name="Adv" placeholder="Tidak ada catatan" required="" value=""></textarea>
                                        </div>
                                        <div class="col-md-6">
                                          <label>Kekurangan</label>
                                          <textarea class="form-control required" style="height: 150px" id="disAdv" name="disAdv" placeholder="Tidak ada catatan" required=""></textarea>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <br>
                            </div>
                            <div class="tab-pane fade" id="penilaian5">
                              <div class="row">
                                <!-- Penilaian 5 -->
                                <div class="col-md-12 col-xl-12">
                                  <div class="card my-3">
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                      <h6 class="m-0 font-weight-bold text-primary">Salary</h6>
                                    </div>
                                    <div class="card-body">
                                      <!-- Current -->
                                      <div class="row">
                                        <div class="col-lg-6 mb-4">
                                          <div class="card bg-white shadow">
                                            <h5 style="margin: 10px;">Current Salary</h5>
                                            <hr class="sidebar-head my-0 bg-white">
                                            </hr>
                                            <div class="row justify-content-md-right text-sm-left" style="margin: 10px;">
                                              <div class="col-md-5 py-2">Base salary (gross)</div>
                                              <div class="col-sm-7 py-2">
                                                <input type="text" class="form-control form-control-bot-border" name="curBS" value="">
                                              </div>
                                              <div class="col-md-5 py-2">Tunjangan Profesi (lainnya)</div>
                                              <div class="col-sm-7 py-2">
                                                <input type="text" class="form-control form-control-bot-border" name="curTP" value="">
                                              </div>
                                              <div class="col-sm-5 py-2">Take home pay (nett)</div>
                                              <div class="col-sm-7 py-2">
                                                <input type="text" class="form-control form-control-bot-border" name="curTHP" value="">
                                              </div>
                                              <div class="col-sm-5 py-2">Round up (celling 1000)</div>
                                              <div class="col-sm-7 py-2">
                                                <input type="text" class="form-control form-control-bot-border" name="curFinal" value="" readonly>
                                              </div>
                                              <div class="custom-control custom-checkbox">
                                                  <input type="checkbox" class="custom-control-input" id="curNettoGr">
                                                  <label class="custom-control-label" for="curNettoGr">Nett to gross</label>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <!--Expected -->
                                        <div class="col-lg-6 mb-4">
                                          <div class="card bg-white shadow">
                                            <h5 style="margin: 10px;">Expected Salary</h5>
                                            <hr class="sidebar-head my-0 bg-white"></hr>
                                            <div class="row justify-content-md-right text-sm-left" style="margin: 10px;">
                                              <div class="col-md-5 py-2">Base salary (gross)</div>
                                              <div class="col-sm-7 py-2">
                                                <input type="text" class="form-control form-control-bot-border" name="expBS" id="expBS" value="">
                                              </div>
                                              <div class="col-md-5 py-2">Tunjangan Profesi (lainnya)</div>
                                              <div class="col-sm-7 py-2">
                                                <input type="text" class="form-control form-control-bot-border" name="expTP" value="0">
                                              </div>
                                              <div class="col-sm-5 py-2">Take home pay (nett)</div>
                                              <div class="col-sm-7 py-2">
                                                <input type="text" class="form-control form-control-bot-border" name="expTHP" id="expTHP" value="" readonly="">
                                              </div>
                                              <div class="col-sm-5 py-2">Round up (celling 1000)</div>
                                              <div class="col-sm-7 py-2">
                                                <input type="text" class="form-control form-control-bot-border" name="expFinal" value="Rp. " readonly>
                                              </div>
                                              <div class="custom-control custom-checkbox">
                                                  <input type="checkbox" class="custom-control-input" id="NettoGr">
                                                  <label class="custom-control-label" for="NettoGr">Nett to gross</label>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-lg-6 mb-4">
                                          <div class="card bg-white shadow">
                                            <h5 style="margin: 10px;">Current vs Expected Salary</h5>
                                            <hr class="sidebar-head my-0 bg-white"></hr>
                                            <div class="row justify-content-md-right text-sm-left" style="margin: 10px;">
                                              <div class="col-md-5 py-2">Value Difference</div>
                                              <div class="col-sm-7 py-2" id="vDiff">
                                              :                                                
                                              </div>
                                              <div class="col-md-5 py-2">Percentage Difference</div>
                                              <div class="col-sm-7 py-2" id="pDiff">                                                
                                              :
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-lg-6 mb-4">
                                          <div class="card bg-white shadow">
                                            <a href="#collapseBreak" class="d-block card-header py-3" data-toggle="collapse"
                                                role="button" aria-expanded="true" aria-controls="collapseBreak">
                                                <h6 class="m-0 font-weight-bold text-primary">Breakdown Expected Salary</h6>
                                            </a>
                                            <!-- <hr class="sidebar-head my-0 bg-white"></hr> -->
                                            <div class="collapse hide row justify-content-md-right text-sm-left" style="margin: 10px;" id="collapseBreak">
                                              <table class="table table-sm">
                                                <tr>
                                                  <td class="w-50">Total Upah Perbulan (Gross)</td>
                                                  <td style="width: 10px">:</td>
                                                  <td id="upahGross"></td>
                                                </tr>
                                                <tr>
                                                  <td>BPJS Kesehatan (Perusahaan)</td>
                                                  <td>:</td>
                                                  <td id="prem_JKS"></td>
                                                </tr>
                                                <tr>
                                                  <td>BPJS TK - JKK</td>
                                                  <td>:</td>
                                                  <td id="prem_JKK"></td>
                                                </tr>
                                                <tr>
                                                  <td>BPJS TK - JKM</td>
                                                  <td>:</td>
                                                  <td id="prem_JKM"></td>
                                                </tr>
                                                <tr>
                                                  <td>Penghasilan Bruto Perbulan</td>
                                                  <td>:</td>
                                                  <td id="bruto_month"></td>
                                                </tr>
                                                
                                                <tr>
                                                  <td>Biaya Jabatan</td>
                                                  <td>:</td>
                                                  <td id="bj"></td>
                                                </tr>
                                                <tr>
                                                  <td>Iuran JHT</td>
                                                  <td>:</td>
                                                  <td id="jht"></td>
                                                </tr>
                                                <tr>
                                                  <td>Iuran JP</td>
                                                  <td>:</td>
                                                  <td id="jp"></td>
                                                </tr>
                                                <tr>
                                                  <td>Total Pengurang</td>
                                                  <td>:</td>
                                                  <td id="preTax"></td>
                                                </tr><!-- 
                                                <tr>
                                                  <td>Pre Tax Deduction</td>
                                                  <td>:</td>
                                                  <td id="pengurang"></td>
                                                </tr> -->
                                                <tr>
                                                  <td>Penghasilan Net Sebulan</td>
                                                  <td>:</td>
                                                  <td id="PnM"></td>
                                                </tr>
                                                <tr>
                                                  <td>Penghasilan Net Setahun</td>
                                                  <td>:</td>
                                                  <td id="PnS"></td>
                                                </tr>
                                                <tr>
                                                  <td>PTKP</td>
                                                  <td>:</td>
                                                  <td id="PTKP"></td>
                                                </tr>
                                                
                                                <tr>
                                                  <td>Taxable Income</td>
                                                  <td>:</td>
                                                  <td id="taxIncome"></td>
                                                </tr>
                                                <tr>
                                                  <td>PPh21</td>
                                                  <td>:</td>
                                                  <td id="pph21"></td>
                                                </tr>
                                                <tr>
                                                  <td>PPh21 per Bulan</td>
                                                  <td>:</td>
                                                  <td id="pphBn"></td>
                                                </tr>
                                                <tr>
                                                  <td>Basic Salary (nett)</td>
                                                  <td>:</td>
                                                  <td id="BSnett"></td>
                                                </tr>
                                                <tr>
                                                  <td>Pengurang BS (nett)<br>(BPJS KES/TK JHT/TK JP)</td>
                                                  <td>:</td>
                                                  <td id="pengurangBS"></td>
                                                </tr>
                                                <!-- <tr>
                                                  <td>Tunjangan Lainnya (nett)</td>
                                                  <td>:</td>
                                                  <td id="TPnett"></td>
                                                </tr> -->
                                                <tr>
                                                  <td>THP Perbulan</td>
                                                  <td>:</td>
                                                  <td id="THP"></td>
                                                </tr>
                                                <tr>
                                                  <td>THP Per Tahun</td>
                                                  <td>:</td>
                                                  <td id="THPS"></td>
                                                </tr>
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="float-right row px-4">
                              <div class="col-lg-6 mt-2 text-right" style="vertical-align: middle !important;">
                                Total Nilai
                              </div>
                              <div class="col-lg-6 mb-4">
                               <input type="text" name="" id="total_nilai" class="form-control" readonly>  
                             </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- kesimpulan -->
                <div class="col-md-12 col-xl-12">
                    <div class="card my-3">
                      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">KESIMPULAN</h6>
                      </div>
                      <div class="card-body">
                        <table class="table table-sm table-bordered" style="width:100%" style="text-align: center">
                          <tr>
                            <th>Final Choice</th>
                            <th>Interviewer Role</th>
                            <th>Interviewer Position</th>
                            <th>Interviewer Name</th>
                          </tr>
                          <tr>
                            <th rowspan="4" style="vertical-align: middle;">
                              
                                <input type="radio" id="" name="kesimpulan[]" value="">
                                <label for="">Disarankan</label>
                                <br>
                                <input type="radio" id="" name="kesimpulan[]" value="">
                                <label for="">Dipertimbangkan</label>
                                <br>
                                <input type="radio" id="javascript" name="kesimpulan[]" value="">
                                <label for="">Tidak Disarankan</label>
                              
                            </th>
                          </tr>
                          <tr>
                            <td style="vertical-align: middle;">User 1</td>
                            <td><input type="text" class="form-control form-control-bot-border required" id="user1" placeholder="Select Requestor" onclick="selectList(this)"autocomplete="off" required></td>
                            <td><input type="text" class="form-control form-control-bot-border " readonly="" id="user1_name"></td>
                            
                          </tr>
                          <tr>
                            <td style="vertical-align: middle;">User 2</td>
                            <td><input type="text" class="form-control form-control-bot-border required" id="user2" placeholder="Select Requestor" onclick="selectList(this)"autocomplete="off" required></td>
                            <td><input type="text" class="form-control form-control-bot-border " readonly="" id="user2_name"></td>
                            
                          </tr>
                          <tr>
                            <td style="vertical-align: middle;">TPM Officer</td>
                            <td>
                              <input type="text" class="form-control form-control-bot-border required" id="tpmOfficer" placeholder="Select Requestor" onclick="selectList(this)"autocomplete="off" required>
                            </td>
                            <td><input type="text" class="form-control form-control-bot-border " readonly="" id="tpmOfficer_name"></td>
                            
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-12 col-xl-12">
                            <a href="#" class="btn btn-md btn-primary float-right saveDraftBtn">Save Interview</a>
                            <a href="#tab1" data-toggle="tab" class="btn btn-md btn-outline-primary ">Back</a>
                          </div>
                 </div>
                 </div>
                </div>
                  <!-- End of kesimpulan -->
                 
                  <!-- tab2 -->
                  <div class="tab-pane fade" id="tab2">
                       <div class="row">
                          <div class="col-md-12 col-xl-12">
                             <div class="card my-3">
                                <div class="card-body row mt-4">
                                    <div class="col-md-12 col-xl-12 text-center mb-4">
                                        <h5 class="font-weight-bold">LAPORAN HASIL WAWANCARA</h5>
                                      </div>
  
                                                <!-- Row 2 -->
                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-5 col-xl-3">TANGGAL WAWANCARA</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-2" id="rvNO"></div>
                                                    <div class="col-md-5 col-xl-3">LOKASI WAWANCARA</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-2" id="rvNO"></div>
                                                </div>
                                                <div class="col-xl-6"></div>
                                                <br>
                                                <!-- Row 3 -->
                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-5 col-xl-3">NAMA KANDIDAT</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-8" id="rvSubs"></div>
                                                </div>
                                                <div class="col-xl-6"></div>
                                                <!-- Row 4 -->
                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-5 col-xl-3">TANGGAL & TEMPAT LAHIR</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-2" id="rvCreator"></div>
                                                    <div class="col-md-5 col-xl-3">KOTA</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-2" id="rvCreator"></div>
                                                </div>
                                                <div class="col-xl-6"></div>
                                                <br>
                                                <!-- Row 4 -->
                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-5 col-xl-3">PENDIDIKAN TERAKHIR</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-2" id="rvCrPos"></div>
                                                    <div class="col-md-5 col-xl-3">JENJANG</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-2" id="rvCrPos"></div>
                                                </div>
                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-5 col-xl-6"></div>
                                                    <div class="col-md-5 col-xl-3">JURUSAN</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-2" id="rvCrPos"></div>
                                                </div>
                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-5 col-xl-6"></div>
                                                    <div class="col-md-5 col-xl-3">PERGURUAN TINGGI</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-2" id="rvCrPos"></div>
                                                </div>
                                                <div class="col-xl-6"></div>
                                                <br>
                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-5 col-xl-3">POSISI DITUJU</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-2" id="rvCrPos"></div>
                                                    <div class="col-md-5 col-xl-3">DEPARTEMEN</div>
                                                    <div class="col-md-1 col-xl-1">:</div>
                                                    <div class="col-md-6 col-xl-2" id="rvCrPos"></div>
                                                </div>
                                                <div class="col-xl-6 mb-2"></div>
                                                
                                                <!-- Separator -->
                                                <div class="col-md-12 col-xl-12 mt-4 mb-2">
                                                    <h5>A. NILAI WAWANCARA</h5>
                                                    <hr>
                                                </div>
                                                <div class="col-md-12 col-xl-12 mt-4 mb-2">
                                                    <h6>Kompetensi Teknis</h6>
                                                    <hr>
                                                </div>

                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-12 col-xl-12">
                                                        <table class="table table-sm table-bordered" id="tb-resp">
                                                            <thead>
                                                                <tr>
                                                                    <th width="600px">Kompetensi Teknis</th>
                                                                    <th>Total Nilai</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                        
                                                              <tr>
                                                              <td ></td>
                                                              <td></td>
                                                            </tr>
                                                            
                                                            <tr>
                                                                
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 col-xl-12 mt-4 mb-2">
                                                    <h6>Akhlak</h6>
                                                    <hr>
                                                </div>

                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-12 col-xl-12">
                                                        <table class="table table-sm table-bordered" id="tb-resp">
                                                            <thead>
                                                                <tr>
                                                                    <th width= "600px">C5B Akhlak</th>
                                                                    <th>Total Nilai</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 col-xl-12 mt-4 mb-2">
                                                    <h6>Skill</h6>
                                                    <hr>
                                                </div>

                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-12 col-xl-12">
                                                        <table class="table table-sm table-bordered" id="tb-resp">
                                                            <thead>
                                                                <tr>
                                                                    <th width= "600px">Skill </th>
                                                                    <th>Total Nilai</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 col-xl-12 mt-4 mb-2">
                                                    <h5>B. CATATAN KHUSUS</h5>
                                                    <hr>
                                                </div>
                                                <div class="col-md-12 col-xl-12 mt-4 mb-2">
                                                    <label>Kekuatan (Strength)</label>
                                                      <textarea type="text" id="strength" class="form-control" readonly></textarea>
                                                </div>
                                                <div class="col-md-12 col-xl-12 mt-4 mb-2">
                                                    <label>Kelemahan (Weakness)</label>
                                                      <textarea type="text" id="weakness" class="form-control" readonly></textarea>
                                                </div>

                                                <div class="col-md-12 col-xl-12 mt-4 mb-2">
                                                    <h5>C. INFORMATION SALARY</h5> <hr>
                                                </div>
                                                
                                                <!-- Separator -->
                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-4 col-xl-4">COMPANY'S Operation Area</div>
                                                    <div class="col-md-2 col-xl-2">:</div>
                                                    <div class="col-md-6 col-xl-6">Jakarta Office and Other Operational Area</div>
                                                </div>
                                                <!-- Row 3 -->
                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-4 col-xl-4">COMPANY Supervisor</div>
                                                    <div class="col-md-2 col-xl-2">:</div>
                                                    <div class="col-md-6 col-xl-6">Manager Operation & Surface Facility</div>
                                                </div>
                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-4 col-xl-4">Cost Center</div>
                                                    <div class="col-md-2 col-xl-2">:</div>
                                                    <div class="col-md-6 col-xl-6">7002GZ0CA1 - Operation & Surface Facility-Operation&Surface Facility</div>
                                                </div>
                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-4 col-xl-4">Personnel Classified/Category</div>
                                                    <div class="col-md-2 col-xl-2">:</div>
                                                    <div class="col-md-6 col-xl-6">Non Staff</div>
                                                </div>
                                                <div class="col-xl-6"></div>

                                                <!-- Separator -->
                                                <div class="col-md-12 col-xl-12 mt-4 mb-2">
                                                    <h5>Information Budget</h5>
                                                </div>
                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-12 col-xl-12">
                                                    <table class="table table-sm" style="width:100%" style="text-align: center">
                                                            <tr>
                                                                <th rowspan="2">Currency</th>
                                                                <th>Billing Rate</th>
                                                                <th rowspan="2">Gross Rate</th>
                                                                <th>Service Fee</th>
                                                            </tr>
                                                            <tr>
                                                                <td>Gross Salary + BPJSTK 5.74% + Service Fee</td>
                                                                <td>{Gross Salary + (BPJSTK 5.74%)} x 3.75%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>IDR/Month</td>
                                                                <td>15015714,439999999</td>
                                                                <td>14060000</td>
                                                                <td>148670,44</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                                <!-- Row 1 -->
                                                <div class="col-md-12 col-xl-12 row">
                                                    <div class="col-md-12 col-xl-12 text-justify" id="rvJus">
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-xl-6"></div>
                                                <br>
                                              <div>
                                            </div>
                                        </div>
                                        </div>
                          <!-- <div class="col-md-12 col-xl-12">
                            <a href="#" class="btn btn-md btn-primary float-right saveDraftBtn">Save Interview</a>
                            <a href="#tab1" data-toggle="tab" class="btn btn-md btn-outline-primary ">Back</a>
                          </div> -->
                      </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  
  $("#NettoGr").change(function() {
      if(this.checked) {
          $('#expTHP').attr('readonly',false)
          $('#expTHP').val(0)
          $('#expBS').attr('readonly',true)
          $('#expBS').val(0)
          $("input[name='expFinal']").val('');
          
      }else{
          $('#expTHP').attr('readonly',true)
          $('#expTHP').val(0)
          $('#expBS').attr('readonly',false)
          $('#expBS').val(0)
          grosstoNet(0)
          $("input[name='expFinal']").val('');
      }
  });


  function grosstoNet(basic_salary,tunjangan){

        var statusPajak = $("input[name='statusPajak']").val();
        var expBS = basic_salary;
        var expTunj = parseInt($("input[name='expTP']").val());
        var upahGross = expBS + expTunj;
        var THRK = upahGross;
        var BFIT = upahGross;
        var prem_JKS = 0;
        var JKS_Peg = 0;
        if (expBS>12000000) {
          prem_JKS = 480000
          JKS_Peg = 120000
        }else{
          prem_JKS = expBS*(4/100)
          JKS_Peg = expBS*(1/100)
        }
        var prem_JKK = Math.round(expBS * 0.0174);
        var prem_JKM =Math.round(0.003 * expBS);
        var prem_JK = prem_JKS+prem_JKK+prem_JKM;
        var bruto_month = upahGross + prem_JK;
        var PhS = bruto_month * 12


        var jp_threshold = 9559600;
        var jab_threshold = 6000000;
        var jp = 0;
        
        if (expBS > jp_threshold) {
          jp = (jp_threshold*0.01);
        }else{
          jp = (expBS*0.01);
        }

        var jht = (expBS*0.02)

        var BJ = 0;
        if ((0.05 * PhS) > jab_threshold) {
          BJ = 500000
        }else{
          BJ = (0.05*PhS)/12
        }

        var preTax = jp + BJ + jht
        var PnM = bruto_month - preTax
        var PnS = PnM * 12
        var PTKP = '';
        switch(statusPajak) {
          case 'TK/0':
            PTKP = 54000000
            break;
          case 'TK/1':
            PTKP = 58500000
            break;
          case 'TK/2':
            PTKP = 63000000
            break;
          case 'TK/3':
            PTKP = 67500000
            break;
          case 'K/0':
            PTKP = 58500000
            break;
          case 'K/1':
            PTKP = 63000000
            break;
          case 'K/2':
            PTKP = 67500000
            break;
          case 'K/3':
            PTKP = 72000000
            break;
          default:
            PTKP = 54000000
        }

        

        var pengurang = BJ + PTKP + preTax;
        var taxIncome = PnS - PTKP
        
        //pph21 
        var pph21 = 0;
        if (taxIncome <= 0) {
          pph21 = 0;
        }else if (taxIncome <= 60000000) {
          pph21 = taxIncome * 0.05
        }else if (taxIncome <=250000000) {
          pph21 = 3000000+ ((taxIncome-60000000) * 0.15)
        }else if (taxIncome <=500000000) {
          pph21 = 31500000+ ((taxIncome-250000000) * 0.25)
        }else if (taxIncome <=5000000000) {
          pph21 = 94000000+ ((taxIncome-500000000) * 0.30)
        }else{
          pph21 = 1444000000+ ((taxIncome-5000000000) * 0.35)
        }
        var pphBn = pph21/12
        var taxRate = (pph21/PhS)*100
        var fixBS = expBS - pphBn

        var pengurangBS = (JKS_Peg+jht+jp)
        var fixTP = expTunj-(expTunj*(taxRate/100))

        var THP = fixBS - pengurangBS
        var THPS = (fixTP+fixBS)*12        

        var data = {
          'bs' : expBS,
          'THP' : THP,
          'upahGross' : upahGross,
          'THRK' : THRK,
          'BFIT' : BFIT,
          'prem_JKS' : prem_JKS,
          'prem_JKK' : prem_JKK,
          'prem_JKM' : prem_JKM,
          'bruto_month' : bruto_month,
          'jp' : jp,
          'jht' : jht,
          'preTax' : parseInt(preTax),
          'PnM' : parseInt(PnM),
          'PnS' : parseInt(PnS),
          'PTKP' : PTKP,
          'BJ' : BJ.toFixed(2),
          'pengurang' : parseInt(pengurang).toFixed(2),
          'taxIncome' : taxIncome.toFixed(2),
          'pph21' : pph21.toFixed(2),
          'pphBn' : pphBn,
          'fixBS' : fixBS,
          'pengurangBS' : pengurangBS,
          'THP' : THP,
          'THPS' : THPS,
        }
        return data

  }

  $("input[name='curBS']").on({
      keyup: function() {
        
        //Custom Perhitungan
        var bs = parseInt($(this).val());
        var GrtoNett = grosstoNet(bs)
        $("[name='curTHP']").val(formatNumber(Math.round(GrtoNett.THP)));
        // $("input[name='expTHP']").val(formatNumber(Math.round(THP)));
        $("input[name='curFinal']").val(formatNumber(Math.round(GrtoNett.THP/1000)*1000));
        var expTHP = $("input[name='expTHP']").val().replace(/,/g,'')
        var vDiff = Math.round(expTHP - GrtoNett.THP)
        var pDiff = ((expTHP -GrtoNett.THP)/((GrtoNett.THP+expTHP)))*100

        $("#vDiff").html(': '+formatNumber(vDiff));
        $("#pDiff").html(': '+formatNumber(pDiff.toFixed(2))+'%');
      }
  })

  $("input[name='curTHP']").on({
    keyup: function (e) {
      if (e.key === 'Enter' || e.keyCode === 13) {
          var targetTHP = parseInt($(this).val());
          var curTHP = parseInt($(this).val());
          
          
          i = 0;
          $("#curBS").val('Calculating...');
          do {
            curTHP = parseInt(curTHP + 1000);
            var NettGR = grosstoNet(curTHP)
            i++;
            $("[name='curBS']").val(formatNumber(Math.round(NettGR.bs)));

            // $("input[name='expTHP']").val(formatNumber(Math.round(THP)));
            $("input[name='curFinal']").val(formatNumber(Math.round(NettGR.THP/1000)*1000));
            var expTHP = $("input[name='expTHP']").val().replace(/,/g,'')
            var vDiff = Math.round(expTHP - NettGR.THP)
            var pDiff = ((expTHP -NettGR.THP)/((NettGR.THP+expTHP)))*100

            $("#vDiff").html(': '+formatNumber(vDiff));
            $("#pDiff").html(': '+formatNumber(pDiff.toFixed(2))+'%');
          }
          //while (i < 10);
          while (NettGR.THP < targetTHP);
      }
    }
  })
  $("input[name='expTHP']").on({
    keyup: function (e) {
      if (e.key === 'Enter' || e.keyCode === 13) {
          var targetTHP = parseInt($(this).val());
          var expTHP = parseInt($(this).val());
          
          
          i = 0;
          $("#expBS").val('Calculating...');
          do {

            expTHP = parseInt(expTHP + 1000);
            var NettGR = grosstoNet(expTHP)
            $("#expBS").val(formatNumber(Math.round(NettGR.bs)));
            // $("input[name='expTHP']").val(formatNumber(Math.round(THP)));
            $("input[name='expFinal']").val(formatNumber(Math.round(NettGR.THP/1000)*1000));
            $("#upahGross").html(formatNumber(NettGR.upahGross));
            $("#THRK").html(formatNumber(NettGR.THRK));
            $("#BFIT").html(formatNumber(NettGR.BFIT));
            $("#prem_JKS").html(formatNumber(NettGR.prem_JKS));
            $("#prem_JKK").html(formatNumber(NettGR.prem_JKK));
            $("#prem_JKM").html(formatNumber(NettGR.prem_JKM));
            $("#bruto_month").html(formatNumber(NettGR.bruto_month));

            // $("#PhS").html(formatNumber(PhS));
            $("#jp").html(formatNumber(NettGR.jp));
            $("#jht").html(formatNumber(NettGR.jht));
            $("#preTax").html(formatNumber(NettGR.preTax));
            $("#PnM").html(formatNumber(NettGR.PnM));
            $("#PnS").html(formatNumber(NettGR.PnS));

            $("#PTKP").html(formatNumber(NettGR.PTKP));
            $("#bj").html(formatNumber(NettGR.BJ));
            $("#pengurang").html(formatNumber(NettGR.pengurang));
            $("#taxIncome").html(formatNumber(Math.round(NettGR.taxIncome)));
            $("#pph21").html(formatNumber(Math.round(NettGR.pph21)));
            $("#pphBn").html(formatNumber(Math.round(NettGR.pphBn)));
            $("#taxRate").html(parseFloat(NettGR.taxRate).toFixed(2) + '%');
            $("#BSnett").html(formatNumber(Math.round(NettGR.fixBS)));
            $("#pengurangBS").html(formatNumber(Math.round(NettGR.pengurangBS)));
            $("#THP").html(formatNumber(Math.round(NettGR.THP)));
            
            $("#THPS").html(formatNumber(Math.round(NettGR.THPS)));
            i++;
            var curTHP = $("input[name='curTHP']").val().replace(/,/g,'')
            var vDiff = Math.round(NettGR.THP - curTHP)
            var pDiff = ((NettGR.THP-curTHP)/((NettGR.THP+curTHP)))*100
            $("#vDiff").html(': '+formatNumber(vDiff));
            $("#pDiff").html(': '+formatNumber(pDiff.toFixed(2))+'%');
            // console.log(NettGR.THP)   
            // console.log(expTHP)      
          }
          while (NettGR.THP < targetTHP);
      }
    }


  })


  $("input[name='expBS']").on({
      keyup: function() {
        
        //Custom Perhitungan
        var bs = parseInt($(this).val());
        var GrtoNett = grosstoNet(bs)
        var curTHP = $("input[name='curTHP']").val().replace(/,/g,'')
        var vDiff = Math.round(GrtoNett.THP - curTHP)
        var pDiff = ((GrtoNett.THP-curTHP)/((GrtoNett.THP+curTHP)))*100

        $("#THP").html(formatNumber(Math.round(GrtoNett.THP)));
        $("input[name='expTHP']").val(formatNumber(Math.round(GrtoNett.THP)));
        $("input[name='expFinal']").val(formatNumber(Math.round(GrtoNett.THP/1000)*1000));
        $("#upahGross").html(formatNumber(GrtoNett.upahGross));
        $("#THRK").html(formatNumber(GrtoNett.THRK));
        $("#BFIT").html(formatNumber(GrtoNett.BFIT));
        $("#prem_JKS").html(formatNumber(GrtoNett.prem_JKS));
        $("#prem_JKK").html(formatNumber(GrtoNett.prem_JKK));
        $("#prem_JKM").html(formatNumber(GrtoNett.prem_JKM));
        $("#bruto_month").html(formatNumber(GrtoNett.bruto_month));

        // $("#PhS").html(formatNumber(PhS));
        $("#jp").html(formatNumber(GrtoNett.jp));
        $("#jht").html(formatNumber(GrtoNett.jht));
        $("#preTax").html(formatNumber(GrtoNett.preTax));
        $("#PnM").html(formatNumber(GrtoNett.PnM));
        $("#PnS").html(formatNumber(GrtoNett.PnS));

        $("#PTKP").html(formatNumber(GrtoNett.PTKP));
        $("#bj").html(formatNumber(GrtoNett.BJ));
        $("#pengurang").html(formatNumber(GrtoNett.pengurang));
        $("#taxIncome").html(formatNumber(Math.round(GrtoNett.taxIncome)));
        $("#pph21").html(formatNumber(Math.round(GrtoNett.pph21)));
        $("#pphBn").html(formatNumber(Math.round(GrtoNett.pphBn)));
        $("#taxRate").html(parseFloat(GrtoNett.taxRate).toFixed(2) + '%');
        $("#BSnett").html(formatNumber(Math.round(GrtoNett.fixBS)));
        $("#pengurangBS").html(formatNumber(Math.round(GrtoNett.pengurangBS)));
        $("#THP").html(formatNumber(Math.round(GrtoNett.THP)));
        
        $("#THPS").html(formatNumber(Math.round(GrtoNett.THPS)));

        $("#vDiff").html(': '+formatNumber(vDiff));
        $("#pDiff").html(': '+formatNumber(pDiff.toFixed(2))+'%');


      }
  });

  function perfReview() {
    Swal.fire({
      title: 'Performance Review',
      html: 'MRF No : xxx',
      width: 1200,
      showCloseButton: true,
    })
  }

  function selectList(input){
      console.log(input.id)
      $.ajax({
              url: '/OCF/GetPosition',
              type: 'GET',
              dataType: 'json',
              success: function(data) {
                  let tableHtml = "<table class='table table-sm table-bordered small' id='positionTable'>";
                   tableHtml += "<thead><tr><th>ID Position</th><th>Job Position</th><th>Employee Name</th><th>Action</th></tr></thead>";
                   tableHtml += "<tbody>";
                   data.forEach(function(row) {
                        tableHtml += "<tr>";
                        tableHtml += "<td>" + row.iD_Position + "</td>";
                        tableHtml += "<td>" + row.position + "</td>";
                        tableHtml += "<td>" + row.name + "</td>";
                        tableHtml += "<td><a class='btn btn-primary select-button' data-id='" + row.iD_Position + "'>Select</a></td>";
                        tableHtml += "</tr>";
                    });
                   tableHtml += "</tbody></table>";
                   Swal.fire({
                     title: 'Select Requestor',
                     html: tableHtml,
                     width : 1000,
                     showCloseButton: true,
                   })

                   $('#positionTable').DataTable({
                     ordering : true,
                     autoWidth : false,
                     select: {
                           style: 'single'
                     },
                   });

                   var currentDate = new Date(); // Current date
                   var currentYear = currentDate.getFullYear(); // Get the current year

                   $('#positionTable').on('click', '.select-button', function() {
                           var index;
                           var id = $(this).data('id');
                           for (var key in data) {
                              if (data[key].iD_Position == id) {
                               $(input).val(data[key].position);
                               $('#'+input.id+'_name').val(data[key].name);
                               Swal.close()
                               break;
                             }
                           }

                       });
              }
      });
  }

  $('.select-comp').on('change', function (e) {
      var compScore = $('select[name="compScore[]"]').map(function () {
          return $(this).val()
      }).get();
      var total = 0;
      compScore.forEach(row => {
        total = total + parseInt(row[0])
      });
      var percent = 0;
      var percent = (total/(8*5))*100;
      $("#total_A").html(("( "+total +" )"));
      $("#percent_A").html((parseFloat(percent).toFixed(2)+'%' ));

      sumScore()

  });

  $('.select-akhlak').on('change', function (e) {
      var akhlakScore = $('select[name="akhlakScore[]"]').map(function () {
          return $(this).val()
      }).get();
      var total = 0;
      akhlakScore.forEach(row => {
        total = total + parseInt(row[0])
      });
      var percent = 0;
      var percent = (total/(5*5))*100;
      $("#total_B").html(("( "+total +" )"));
      $("#percent_B").html((parseFloat(percent).toFixed(2)+'%' ));

      sumScore()

  });

  $('.select-skill').on('change', function (e) {
      var Score = $('select[name="skillScore[]"]').map(function () {
          return $(this).val()
      }).get();
      var total = 0;
      Score.forEach(row => {
        total = total + parseInt(row[0])
      });
      var percent = 0;
      var percent = (total/(5*5))*100;
      $("#total_C").html(("( "+total +" )"));
      $("#percent_C").html((parseFloat(percent).toFixed(2)+'%' ));

      sumScore()

  });

  function sumScore(){
    var compScore = $("#percent_A").html().slice(0,-1);
    var akhlakScore = $("#percent_B").html().slice(0,-1);
    var skillScore = $("#percent_C").html().slice(0,-1);

    var totalComp = parseFloat(compScore) * 0.40;
    var totalAkhlak = parseFloat(akhlakScore) * 0.40;
    var totalSkill = parseFloat(skillScore) * 0.20;

    var sumAll = totalComp + totalAkhlak + totalSkill
    $("#total_nilai").val(sumAll + ' % ');
    

  }

  $(".saveDraftBtn").click(function() {
      var compScore = $('select[name="compScore[]"]').map(function () {
          return $(this).val()
      }).get();
      var akhlakScore = $('select[name="akhlakScore[]"]').map(function () {
          return $(this).val()
      }).get();
      var skillScore = $('select[name="skillScore[]"]').map(function () {
          return $(this).val()
      }).get();
      
      var data = {
        'interview_date' : $("input[name='date']").val(), 
        'interview_loc' : $("input[name='loc']").val(), 
        'comp_score' : JSON.stringify(compScore),
        'akhlak_score' : JSON.stringify(akhlakScore),
        'skill_score' : JSON.stringify(skillScore),
        'interview_score' : $("#total_nilai").val().slice(0,-1),
        'advantages' : $("#Adv").val(), 
        'disadvantages' : $("#disAdv").val(),
        'current_salary' : $("input[name='curBS']").val().replace(/,/g,''),
        'expected_salary' : $("input[name='expBS']").val().replace(/,/g,''),

      }

      $.ajax({
              url: "<?php echo base_url()?>TAD/AO/saveInterview/<?= $candidateID ?>",
              type: "POST",
              dataType: "json",
              data: data,
              success: function(data) {
                  n = JSON.stringify(data)
                  o = JSON.parse(n)
                  var tempKey =o.data.tempKey;
                  if (o.status == 2) {
                      Swal.fire({
                        title: 'Update Status',
                        html: o.msg,
                        showCloseButton: true,
                      });
                      window.location.href = '<?php echo base_url()?>TAD/MRF/candidate/<?= $MRF_id ?>'; 
                  }else{
                      Swal.fire({
                        title: 'Update Status',
                        html: o.msg,
                        showCloseButton: true,
                      });
                         
                  }
                  
              }
      });
  });

  function grossToNet(data){

  }



    function formatCurrency(input, blur) {
      // appends $ to value, validates decimal side
      // and puts cursor back in right position.
      
      // get input value
      var input_val = input.val();
      var original_val = input_val();
      // don't validate empty input
      if (input_val === "") { return; }
      
      // original length
      var original_len = input_val.length;

      // initial caret position 
      var caret_pos = input.prop("selectionStart");
        
      // check for decimal
      if (input_val.indexOf(".") >= 0) {

        // get position of first decimal
        // this prevents multiple decimals from
        // being entered
        var decimal_pos = input_val.indexOf(".");

        // split number by decimal point
        var left_side = input_val.substring(0, decimal_pos);
        var right_side = input_val.substring(decimal_pos);

        // add commas to left side of number
        left_side = formatNumber(left_side);

        // validate right side
        right_side = formatNumber(right_side);
        
        // On blur make sure 2 numbers after decimal
        if (blur === "blur") {
          right_side += "00";
        }
        
        // Limit decimal to only 2 digits
        right_side = right_side.substring(0, 2);

        // join number by .
        input_val = "Rp " + left_side + "." + right_side;

      } else {
        // no decimal entered
        // add commas to number
        // remove all non-digits
        input_val = formatNumber(input_val);
        input_val = "Rp " + input_val;
        
        // final formatting
        if (blur === "blur") {
          input_val += "";
        }
      }
      
      // send updated string to input
      input.val(input_val);

      // put caret back in the right position
      var updated_len = input_val.length;
      caret_pos = updated_len - original_len + caret_pos;
      input[0].setSelectionRange(caret_pos, caret_pos);
    }
</script>